<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/av-icons.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../bower_components/core-icons/editor-icons.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-media-query/core-media-query.html">
<link rel="import" href="../bower_components/core-image/core-image.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../bower_components/file-input/file-input.html">
<link rel="import" href="../node_modules/ajax-form/ajax-form.html">


<polymer-element name="layout-base" attributes="phoneScreen tabletScreen session typeContent menuItems menu">
    <template>
        <link rel="stylesheet" type="text/css" href="../css/palette.css">
        <link rel="stylesheet" type="text/css" href="../css/base.css">
        <style>


            core-toolbar{
                font-size: 17px;
            }
            core-toolbar paper-tabs{
                width: 436px;
            }
            #register core-icon{
                margin: 15px;
            }
            #register paper-button core-icon{
                margin: 0px 15px 0px 0px;
            }
            #register paper-input, #register paper-input-decorator{
                margin: 0px 3px;
            }

            #drawer a{
                text-align: center;
                color: black;
                text-decoration: none;
            }
            #drawer core-icon{
                margin-right: 18px;
            }
            #register{
                width: 95%;
                position: fixed;
                outline: none;
                max-width: 550px;
                z-index: 12;
            }
            #register /deep/ #scroller{
                max-width: 100% !important;
            }
            #content-dialog{
                height: 400px;
            }
            .content-dialog-int paper-button{
                margin: 10px;
            }
            .notification{
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 12px;
            }

            paper-button{
                margin: 4px ;
            }
            paper-toast {
                top: 74px;
                right: 10px;
                left: auto;
                bottom: auto;
            }

        </style>
        <core-media-query query="max-width: 770px" queryMatches="{{tabletScreen}}"></core-media-query>
        <core-media-query query="max-width: 480px" queryMatches="{{phoneScreen}}"></core-media-query>

        <!-- WRAPPER WAITING AJAX -->
        <!-- TOAST ERROR -->
        <paper-toast id="loginError" text="{{ loginResponse }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="loginSuccess" text="Logeado correctamente" duration="5000" class="button-success"></paper-toast>

        <paper-action-dialog id="register" backdrop layered="false" transition="core-transition-center" >

            <div vertical layout id="content-dialog">

                <core-animated-pages transitions="hero-transition cross-fade" selected="{{ pageDialog }}" flex>
                    <!-- page 0 dialog-->
                    <section>
                        <div layout vertical class="content-dialog-int" >
                            <h2 style="margin: 0px;" cross-fade>Login</h2>
                            <h4 cross-fade>¿No tienes cuenta aún? ¿A qué esperas? REGISTRATE! Disfruta de todas las ventajas.</h4>

                            <div layout center-justified horizontal?="{{ !phoneScreen }}"
                            vertical?="{{ phoneScreen }}">
                                <paper-button id="sendContact" class=" primary-color text-primary-color" hero hero-id="new-account" on-click="{{ swapPageDialog }}" next-page="1">
                                    <core-icon icon="create" ></core-icon>
                                    Nueva Cuenta
                                </paper-button>

                                <paper-button id="sendContact" class=" primary-color text-primary-color" hero hero-id="new-transporter" on-click="{{ swapPageDialog }}" next-page="2">
                                    <core-icon icon="maps:local-shipping" ></core-icon>
                                    Soy Transportista
                                </paper-button>
                            </div>
                            <h4 cross-fade>Si ya estas registrado, accede a tu cuenta para ver tus subastas y estado de los viajes!</h4>
                            <div vertical layout center cross-fade>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="social:person"></core-icon>
                                    <paper-input  label="Usuario" value="{{ session.email }}"  ></paper-input>

                                </div>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="lock"></core-icon>
                                    <paper-input-decorator label="Contraseña"  >
                                        <input id="password" type="password" is="core-input" value="{{ session.pass }}" pattern="^[0-9].*">
                                    </paper-input-decorator>

                                </div>
                            </div>


                        </div>

                    </section>
                    <!-- page 1 dialog new account-->
                    <section>
                        <paper-button id="sendContact" class=" button-error" hero hero-id="new-account" on-click="{{ swapPageDialog }}" next-page="0">
                            <core-icon icon="cancel" ></core-icon>
                            Nueva Cuenta
                        </paper-button>
                        <paper-button id="sendContact" class=" primary-color text-primary-color" hero hero-id="new-transporter" on-click="{{ swapPageDialog }}" next-page="2">
                            <core-icon icon="maps:local-shipping" ></core-icon>
                            Soy Transportista
                        </paper-button>

                        <h2 style="margin-bottom: 0px;" cross-fade>Nuevo Usuario</h2>

                        <h4 cross-fade>En solo 1 minuto estarás enviando tus paquetes!</h4>

                        <div vertical layout center-justified cross-fade>

                            <div horizontal="" layout="" center="">
                                <core-icon icon="social:person"></core-icon>
                                <paper-input  label="Nombre" value="{{ newClient.name }}"  flex></paper-input>
                                <paper-input  label="Apellidos" value="{{ newClient.surname }}"  flex></paper-input>

                            </div>

                            <div horizontal="" layout="" center="">
                                <core-icon icon="mail"></core-icon>
                                <paper-input  label="Correo"  value="{{ newClient.email }}" flex></paper-input>

                            </div>

                            <div horizontal="" layout="" center="">
                                <core-icon icon="lock"></core-icon>
                                <paper-input-decorator label="Contraseña" flex >
                                    <input  id="password" type="password" is="core-input" pattern="^[0-9].*" value="{{ newClient.password }}">
                                </paper-input-decorator>

                            </div>
                        </div>


                    </section>
                    <!-- page 2 dialog new transporter-->
                    <section>
                        <paper-button id="sendContact" class=" button-error" hero hero-id="new-transporter" on-click="{{ swapPageDialog }}" next-page="0">
                            <core-icon icon="cancel" ></core-icon>
                            Soy Transportista
                        </paper-button>
                        <paper-button id="sendContact" class=" primary-color text-primary-color" hero hero-id="new-account" on-click="{{ swapPageDialog }}" next-page="1">
                            <core-icon icon="create" ></core-icon>
                            Nueva Cuenta
                        </paper-button>

                        <h2 style="margin-bottom: 0px;" cross-fade>Nuevo Transportista</h2>

                        <h4 cross-fade>En solo 1 minuto estarás publicando tus viajes y encontrando paquetes!</h4>

                                    <form is="ajax-form" id="newShipperForm" action="/api/shippers" method="post" enctype="multipart/form-data"                                                                                                                                                                                                                                                                                                                                                                         f                                           >
                            <div vertical layout center-justified cross-fade>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="social:person"></core-icon>
                                    <paper-input  label="Nombre" name="name" value="{{ newShipper.name }}"  flex></paper-input>
                                    <paper-input  label="Apellidos"  name="surname" value="{{ newShipper.surname }}"  flex></paper-input>

                                </div>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="communication:phone"></core-icon>
                                    <paper-input  label="Telefono" name="phone" value="{{ newShipper.phone }}"  flex></paper-input>

                                </div>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="mail"></core-icon>
                                    <paper-input type="email" label="Correo" name="email" value="{{ newShipper.email }}" flex></paper-input>

                                </div>

                                <div horizontal="" layout="" center="">
                                    <core-icon icon="lock"></core-icon>
                                    <paper-input-decorator label="Contraseña" flex >
                                        <input  id="password" type="password" name="password" is="core-input" value="{{ newShipper.password }}" >
                                    </paper-input-decorator>

                                </div>


                                <div horizontal="" layout="" center="">
                                    <core-icon icon="maps:local-shipping" ></core-icon>
                                    <paper-input  label="Empresa" name="company" value="{{ newShipper.company }}"  flex></paper-input>

                                </div>

                                <div horizontal="" layout="" center-justified>

                                    <paper-button id="dniButton" class=" primary-color text-primary-color " >
                                        <file-input id="dni"  name="dni" invalidText="Archivo no valido" on-change="{{dniAccept}}"  flex>
                                            <core-icon icon="backup"></core-icon>
                                            DNI
                                        </file-input>
                                    </paper-button>

                                    <paper-button id="driveButton" class=" primary-color text-primary-color" >
                                        <file-input id="drive" name="drive" invalidText="Archivo no valido"  on-change="{{driveAccept}}" flex>
                                            <core-icon icon="backup"></core-icon>
                                            Carnet conducir
                                        </file-input>
                                    </paper-button>


                                </div>
                            </div>
                        </form>
                    </section>
                </core-animated-pages>
            </div>


            <paper-button dismissive autofocus class="button-error" on-click="{{ }}" >CERRAR</paper-button>

            <core-ajax
                    id="ajaxLogin"
                    auto="false"
                    url="http://blabla-pack.es/api/users/hashes"
                    params='{"email":"{{ session.email }}", "password":"{{ session.pass }}"}'
                    handleAs="json"
                    method="POST"
                    response="{{ loginResponse }}"
                    on-core-response="{{ handleLogin }}"></core-ajax>
            <paper-button affirmative autofocus class="button-success" on-click="{{ login }}" hidden?="{{pageDialog != 0}}">ACCEDER</paper-button>

            <core-ajax
                    id="ajaxNewUser"
                    auto="false"
                    url="http://blabla-pack.es/api/clients"
                    params='{"name": "{{ newClient.name }}","surname": "{{ newClient.surname }}","email":"{{ newClient.email }}", "password":"{{ newClient.password }}"}'
                    handleAs="json"
                    method="POST"
                    response="{{ loginResponse }}"
                    on-core-response="{{ handleLogin }}"></core-ajax>
            <paper-button affirmative autofocus class="button-success" on-click="{{ newUser }}" hidden?="{{pageDialog != 1}}">REGISTRARSE</paper-button>

            <core-ajax
                    id="ajaxNewShipper"
                    auto="false"
                    url="http://blabla-pack.es/api/shippers"
                    handleAs="json"
                    method="POST"
                    response="{{ loginResponse }}"
                    on-core-response="{{ handleLogin }}"></core-ajax>
            <paper-button affirmative autofocus class="button-success" on-click="{{ newTransport }}" hidden?="{{pageDialog != 2}}">REGISTRARSE</paper-button>
        </paper-action-dialog>

        <core-drawer-panel forceNarrow?="{{ typeContent == 0 && !tabletScreen}}" cross-fade>
            <div drawer style="background: white" id="drawer">
                <paper-icon-button core-drawer-toggle icon="arrow-back"></paper-icon-button>


                <core-menu selected="{{ menu }}" on-core-select="{{menuScroll}}" id="core_menu" class="menu" >

                    <template repeat="{{ item in menuItems }}">
                        <a href="{{ item.link }}">
                            <paper-item core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}">

                                    <div horizontal layout center core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}">
                                        <core-icon icon="{{ item.icon }}" core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}"></core-icon>
                                        {{ item.name }}
                                    </div>
                            </paper-item>
                        </a>
                    </template>
                    <paper-item core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}" hidden="{{ session.hash != null }}">
                        <a on-tap="{{toggleRegister}}"  >
                            <div horizontal layout center core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}">
                                <core-icon icon="editor:mode-edit" core-drawer-toggle?="{{ typeContent == 0 && !tabletScreen}}"></core-icon>
                                REGISTRATE
                            </div>
                        </a>
                    </paper-item>
                </core-menu>
            </div>
            <div main>

                <core-header-panel style="height: 100%;" mode="waterfall" id="scrollerContent" on-scroll="{{scrollHandler}}">

                    <core-toolbar class="core-header primary-color text-primary-color">

                        <paper-icon-button hidden?="{{ !tabletScreen }}" core-drawer-toggle icon="menu"  id="paper_icon_button" wrap-reverse center-justified></paper-icon-button>

                        <core-image  style="width: 100px;height: 50px" sizing="cover"
                                    src="../img/front/logo-2.png"></core-image>
                        <span flex></span>
                        <paper-tabs selected="{{menu}}" on-core-select="{{menuScroll}}"  hidden?="{{ tabletScreen || typeContent == 1 }}" scrollable hideScrollButton>

                            <template repeat="{{ item in menuItems }}">
                                <paper-tab  >{{item.name}}</paper-tab>
                            </template>

                        </paper-tabs>

                        <paper-button hidden?="{{ session.hash != null }}" on-tap="{{toggleRegister}}" autofocus class="dark-color text-primary-color">REGISTRATE</paper-button>


                        <core-icon icon="communication:email" hidden?="{{ session.hash == null }}"></core-icon>

                        <core-icon icon="social:notifications" hidden?="{{ session.hash == null }}"></core-icon>

                         <a href="{{ session.userType | formatUrlProfile }}">
                            <h5 class="text-primary-color" hidden?="{{ session.hash == null }}">{{ session.email }}</h5>
                        </a>
                        <a href="{{ session.userType | formatUrlProfile }}">
                            <core-image hidden?="{{ session.hash == null }}"  style="width:50px; height:50px; border-radius:25px;" sizing="cover"
                            src="../img/profile.jpg"></core-image>
                        </a>

                    </core-toolbar>

                    <content><!-- your main content shows up here --></content>

                </core-header-panel>
            </div>
        </core-drawer-panel>
        <core-animation id="animation" duration="400" fill = "forwards" easing="ease-in-out"></core-animation>

    </template>
    <script>
        Polymer({

            scrollHandler:function(){

                var top = this.$.scrollerContent.scroller.scrollTop;
                if( top < 500 ){
                   // this.menu = 0;
                }else if(top < 1000){
                   // this.menu = 1;
                }else{
                   // this.menu = 2;
                }
            },

            swapPageDialog: function(event, detail, sender){

              this.pageDialog = sender.getAttribute("next-page");
            },

            menuScroll: function(){

                var pixelTop = 0;
                if(this.typeContent == 0){
                    switch (this.menu){
                        case 0: pixelTop = 0;break;
                        case 1: pixelTop = 500;break;
                        case 2: pixelTop = 910;break;
                        case 3: pixelTop = 1210;break;
                    }
                }

                //this.$.scrollerContent.scroller.scrollTop = pixelTop;

                var start = this.$.scrollerContent.scroller.scrollTop;
                var end = pixelTop; // px
                var delta = end - start;
                this.$.animation.target = this.$.scrollerContent.scroller;
                this.$.animation.customEffect = function (timeFraction, target, animation) {
                    target.scrollTop = start + delta * timeFraction;
                };
                this.$.animation.play();
            },

            ready: function(){

                this.menu = 0;
                this.session = [];
                this.newClient = [];
                this.newShipper = [];
                this.session.name = "";
                this.session.pass = "";
                this.session.notifications = [];
                //this.session = localStorage.getItem('session');
                this.pageDialog = 0;
                this.typeContent = 0;
                this.menuItems=[
                    { name: 'Inicio',icon:'home'},
                    { name: 'Ventajas',icon:'spellcheck'},
                    { name: 'Como Funciona',icon:'help'},
                    { name: 'Contacto',icon:'settings-phone'}  ];
            },
            dniAccept: function(){
                //ajax to session
                this.$.dniButton.setAttribute("class", "button-success");
            },
            driveAccept: function(){
                //ajax to session
                this.$.driveButton.setAttribute("class", "button-success");
            },
            login: function(){
                //ajax to session
                this.$.ajaxLogin.go();
            },
            handleLogin:function(){

                if(!this.loginResponse.hash){
                    this.$.loginError.show();
                    //TODO reopen login modal (when close event recive)
                }else{
                    this.$.loginSuccess.show();
                    console.log(this.loginResponse);
                    this.session.id = this.loginResponse.id;
                    this.session.name = this.loginResponse.name;
                    this.session.surname = this.loginResponse.surname;
                    this.session.email = this.loginResponse.email;
                    this.session.phone = this.loginResponse.phone;
                    this.session.userType = this.loginResponse.user_type;
                    this.session.hash = this.loginResponse.hash;
                    localStorage.setItem("session",this.loginResponse.hash);

                }
            },
            newTransport: function(){

                /*var request = {
                    company: this.newShipper.company,
                    phone: this.newShipper.phone,
                    name: this.newShipper.name,
                    surname: this.newShipper.surname,
                    email: this.newShipper.email,
                    password: this.newShipper.password,
                    dni: this.$.dni.files,
                    drive: this.$.drive.files};
                this.$.ajaxNewShipper.body= JSON.stringify(request);*/

                //this.$.ajaxNewShipper.body='{"company": "{{ newShipper.company }}","phone": "{{ newShipper.phone }}","name": "{{ newShipper.name }}","surname": "{{ newShipper.surname }}","email":"{{ newShipper.email }}", "password":"{{ newShipper.password }}"}'

                this.$.newShipperForm.submit();
            },
            newUser: function(){
                this.$.ajaxNewUser.go();
            },
            toggleRegister: function(event, detail, sender) {


                this.$.register.toggle();
                this.fire('toogle-register-dialog');
            },
            formatUrlProfile: function(value){
                if (!value) {
                    return "#/";
                }
                switch (value){
                    case "client": return "#/profile-client";
                    case "shipper":return "#/profile";
                    case "admin": return "#/admin";
                }
            }
        });
    </script>
</polymer-element>