{% extends '::base.html.twig' %}
{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bower_components/webcomponentsjs/webcomponents.min.js') }}"></script>
    <link rel="import" href="{{ asset('bower_components/polymer/polymer.html') }}">

{% endblock %}



{% block title 'Demo Bundle' %}

{% block body %}
    <!--div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper fi">
                <div class="col s12">
                    <a class="brand-logo">Logo</a>
                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="sass.html"><i class="mdi-action-search"></i></a></li>
                        <li><a href="components.html"><i class="mdi-action-view-module"></i></a></li>
                        <li><a href="javascript.html"><i class="mdi-navigation-refresh"></i></a></li>
                        <li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li>
                    </ul>
                </div>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div -->
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    {% block content %}{% endblock %}


    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts_end %}



{% endblock %}