<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-autogrow-textarea.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/editor-icons.html">
<link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../bower_components/social-media-icons/social-media-icons.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">


<!-- MY COMPONENTS -->
<link rel="import" href="./my-pack.html">



<polymer-element name="element-search" attributes="start end router" >
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #searchTravel core-icon{
                margin-right: 15px;
            }
            #searchTravel{
                background: white;
                padding: 22px 0px;
                height: 348px;
            }
            #searchTravel-packet{
                background: white;
                padding:0px;
                height: 392px;
                overflow: auto;
                overflow-x: hidden;
            }
            paper-date-icker-dialog{
                position: fixed;
                outline: none;
                z-index: 12;
            }
            core-animated-pages{
                width: 100%;
            }
            #map{
                height: 300px;
                width: 300px;
            }
            #map2{
                height: 250px;
                width: 250px;
                margin: 0px 25px;
            }
            #fabStep2{
                bottom: 5px;
                position: absolute;
                right: 5px;
            }
            .wrapperSuccess{
                background: rgba(139, 195, 74, 0.84);
            }
            .wrapper{
                height: calc(100vh - 64px);
            }
            #paperSuccess{
                background: white;
                text-align: center;
                padding: 20px;
            }
            #paperSuccess core-icon{
                margin: 0px 10px;

            }
            #paperSuccess paper-input, #paperSuccess paper-input-decorator {
                margin: 0px 10px;

            }
            #paperSuccess h1{
                margin: 0px;
            }
            #headerPack{
                background: #F6A626;
                padding: 12px;
                color: white;
            }
            .section-ppal{
                padding: 30px 0px;
            }
            .content-max{
                max-width: 1000px;
                margin: 5px;
                text-align: center;
            }
            #contacto{
                color: white;
            }
            #contacto core-icon{
                color: white;
                margin: 20px;
            }
            .white_input /deep/ ::-webkit-input-placeholder {
                               color: #FFFFFF;
                           }

            .white_input /deep/ ::-moz-placeholder {
                               color: #FFFFFF;
                           }

            .white_input /deep/ :-ms-input-placeholder {
                               color: #FFFFFF;
                           }

            .white_input /deep/ .label-text {
                              color: #FFFFFF;
            }

            .white_input /deep/ .unfocused-underline {
                               background-color: #FFFFFF;
                           }


            .white_input /deep/ .focused-underline {
                               background-color: #FFFFFF;
                           }

            .white_input {
                color: #FFFFFF;
            }
            .white_input /deep/ textarea{
                font-family: 'Roboto', sans-serif;
                background: transparent;
                color: white;
                border-color: white;
                border-bottom: 1px solid;
            }
            paper-autogrow-textarea{

                border-color: white;
                border-bottom: 1px solid;
                width: 200px;
            }
            #sendContact core-icon{
                margin: 0px 10px;
            }
            .social-icon{
                width: 46px;
                margin: 15px;
            }
            #editButton{
                position: absolute;
                bottom: 3px;
                right: 3px;
            }
        </style>
        <!-- TOAST ERROR -->
        <paper-toast id="newAuctionError" text="{{ newAuctionFrontResponse }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="newAuctionSuccess" text="Subasta creada" duration="5000" class="button-success"></paper-toast>

        <div cross-fade style="">

            <div class="wrapper">
                <core-image style="width:100%; height:100%;" sizing="cover"
                            src="/img/wrapper2.jpg" fit>
                </core-image>
                <core-animated-pages selected="{{ page }}" transitions="hero-transition cross-fade" on-core-animated-pages-transition-end="{{ completeSwapPage }}">

                    <section >
                        <div layout horizontal center center-justified class="wrapper"   cross-fade>
                            <paper-shadow z="2" style="max-width: 500px" cross-fade>
                                <div vertical layout center id="searchTravel" >
                                    <div flex></div>
                                    <h1 class="margin-right margin-left">Empieza con tu subasta!</h1>
                                    <div horizontal layout center >
                                        <core-icon icon="room" style=" color: #8BC34A; "></core-icon>
                                        <paper-autocomplete id="start" filter="0"  floatingLabel label="Origen" value="{{ start }}" >
                                            <template repeat="{{resultStart in resultsStart}}">
                                                <core-item label="{{ resultStart.formatted_address}}"></core-item>
                                            </template>
                                        </paper-autocomplete>

                                    </div>
                                    <div horizontal layout center >
                                        <core-icon icon="room" style=" color: #D32F2F; "></core-icon>
                                        <paper-autocomplete id="end" filter="0" floatingLabel label="Destino" value="{{ end }}">
                                            <template repeat="{{resultEnd in resultsEnd}}">
                                                <core-item label="{{ resultEnd.formatted_address}}"></core-item>
                                            </template>
                                        </paper-autocomplete>
                                    </div>

                                    <div class="margin-big"></div>

                                    <div horizontal layout center >
                                        <paper-button class=" primary-color text-primary-color"  hero?="{{page == 1}}" hero-id="new-travel" on-click="{{swapPage}}" next-page="1">
                                            <core-icon icon="add" ></core-icon>
                                            PAQUETE ({{ packets }})
                                        </paper-button>
                                        <paper-button disabled?="{{ packets == 0 }}"
                                                      class="button-success text-primary-color"
                                                      on-click="{{swapPage}}"
                                                      hero hero-id="data-auction" next-page="2">
                                            <core-icon icon="check" ></core-icon>
                                            SUBASTA
                                        </paper-button>
                                    </div>
                                    <div flex></div>

                                </div>
                            </paper-shadow>
                        </div>
                    </section>
                    <!-------------------------------------------- AÑADIR PAQUETES -------------------------------------->
                    <section >
                        <div layout horizontal center center-justified class="wrapper"   cross-fade>
                            <paper-shadow z="2" style="max-width: 500px;"  hero?="{{ page == 1 }}" cross-fade?="{{ page == 0 }}" hero-id="new-travel">
                                <div id="searchTravel-packet" >
                                    <div vertical layout>
                                        <div horizontal layout center id="headerPack">

                                            <div>
                                                Añade tus paquetes
                                            </div>
                                            <div flex></div>
                                            <div><paper-icon-button icon="add" on-click="{{ addPacket }}"></paper-icon-button></div>

                                            <div>
                                                <paper-icon-button  icon="close" on-click="{{swapPage}}" next-page="0"></paper-icon-button>
                                            </div>
                                        </div>

                                        <template repeat="{{ pack in packs }}">
                                            <my-pack pack="{{ pack }}"
                                                     on-delete-pack="{{ deletePacket }}"></my-pack>
                                        </template>
                                        <paper-fab id="fabStep2" on-click="{{swapPage}}" hero hero-id="data-auction" next-page="2" icon="check" class="button-success" style="opacity: 0"></paper-fab>

                                    </div>
                                </div>
                            </paper-shadow>
                        </div>
                    </section>
                    <!-------------------------------------------- DATOS SUBASTA -------------------------------------->
                    <section >

                        <div layout horizontal center center-justified class="wrapperSuccess wrapper"   cross-fade>

                            <paper-shadow z="2" hero hero-id="data-auction"
                                          id="paperSuccess">
                                <div horizontal layout center>
                                    <h1>Datos de la subasta </h1>
                                </div>

                                <div vertical layout justified>
                                    <paper-item>
                                        <div vertical layout flex start-justified>
                                            <div  self-start>Artíuclos paletizados</div>
                                            <div  class=" text2-color" self-start>(Se pueden mover con un montacargas)</div>
                                        </div>
                                        <paper-toggle-button checked="{{ paletizados }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div vertical layout flex start-justified>
                                            <div  self-start>Artíuclos en cajas</div>
                                            <div  class=" text2-color" self-start>(Requiere mas cuidado)</div>
                                        </div>
                                        <paper-toggle-button checked="{{ cajas }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div vertical layout flex start-justified>
                                            <div  self-start>Artíuclos apilables</div>
                                            <div  class=" text2-color" self-start>(El artículo puede sostener el peso de otro objeto)</div>
                                        </div>
                                        <paper-toggle-button checked="{{ apilables }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div vertical layout flex start-justified>
                                            <div  self-start>Duración</div>
                                            <div  class=" text2-color" self-start>Tiempo de la subasta</div>
                                        </div>
                                        <paper-input-decorator label="Dias" floatingLabel >
                                            <input style="width: 60px" type="number" min="1" max="60" is="core-input" value="{{ days }}" required="">
                                        </paper-input-decorator>
                                        <paper-input-decorator label="Horas" floatingLabel >
                                            <input style="width: 60px" type="number" min="0" max="24" is="core-input" value="{{ hours }}" required="">
                                        </paper-input-decorator>
                                    </paper-item>
                                </div>




                                <paper-button class=" button-info text-primary-color" hero hero-id="service-auction"  on-click="{{ swapPage }}" next-page="3">
                                    SIGUIENTE
                                    <core-icon icon="arrow-forward" ></core-icon>
                                </paper-button>





                            </paper-shadow>
                        </div>

                    </section>
                    <!-------------------------------------------- SERVICIOS SUBASTA -------------------------------------->
                    <section >

                        <div layout horizontal center center-justified class="wrapperSuccess wrapper"   cross-fade>

                            <paper-shadow z="2" hero hero-id="service-auction"
                                          id="paperSuccess">
                                <div horizontal layout center>
                                    <h1>Consideraré ofertas por servicios de: </h1>
                                </div>

                                <div vertical layout justified>
                                    <paper-item>
                                        <div flex self-start>Sólo transporte</div>
                                        <paper-toggle-button checked="{{ service1 }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div flex self-start>Con carga y descarga</div>
                                        <paper-toggle-button checked="{{ service2 }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div flex self-start>Embalaje,carga y descarga</div>
                                        <paper-toggle-button checked="{{ service3 }}"></paper-toggle-button>
                                    </paper-item>
                                    <paper-item>
                                        <div flex self-start>Servicio completo</div>
                                        <paper-toggle-button checked="{{ service4 }}"></paper-toggle-button>
                                    </paper-item>

                                </div>




                                <paper-button class=" button-info text-primary-color" hero hero-id="resume-auction"  on-click="{{ swapPage }}" next-page="4">
                                    SIGUIENTE
                                    <core-icon icon="arrow-forward" ></core-icon>
                                </paper-button>





                            </paper-shadow>
                        </div>

                    </section>
                    <!-------------------------------------------- RESUMEN SUBASTA -------------------------------------->
                    <section >

                        <div layout horizontal center center-justified class="wrapperSuccess wrapper"   cross-fade>

                            <paper-shadow z="2" hero hero-id="resume-auction"
                                          id="paperSuccess">
                                <div horizontal layout center>
                                    <h1>¿Todo correcto? </h1>
                                </div>
                                <div layout horizontal?="{{ !router.templateInstance.model.tabletScreen }}"
                                     vertical?="{{ router.templateInstance.model.tabletScreen }}">
                                    <paper-shadow z="1" flex one>
                                        <div vertical layout justified>
                                            <paper-item>
                                                <span class="margin-right">Origen:</span>
                                                <span class="text2-color">{{ start }}</span>
                                            </paper-item>
                                            <paper-item>
                                                <span class="margin-right">Destino:</span>
                                                <span class="text2-color">{{ end }}</span>
                                            </paper-item>
                                            <template repeat="{{ pack in packs }}">
                                                <paper-item>
                                                    <span class="margin-right">{{ pack.name }}:</span>
                                                    <span class="text2-color">{{ pack.weight }}Kg, {{ pack.height }}x{{ pack.width }}x{{ pack.length }}cm</span>
                                                </paper-item>
                                            </template>
                                        </div>
                                        <paper-fab hero hero-id="editButton" id="editButton" icon="create" class=" primary-color text-primary-color" on-click="{{ swapPage }}" next-page="0">
                                        </paper-fab>

                                    </paper-shadow>
                                    <google-map id="map"
                                                map="{{map}}"
                                                latitude="40.4378271"
                                                longitude="-3.6795367"
                                                zoomable="true"
                                                disableDefaultUI="false"
                                                fitToMarkers="true"
                                                flex
                                            ></google-map>
                                    <google-map-directions map="{{map}}"
                                                           id="directions"
                                                           startAddress="{{ start }}"
                                                           endAddress="{{ end }}"
                                                           travelMode="DRIVING"></google-map-directions>
                                </div>



                                <paper-button class=" button-info text-primary-color" hero hero-id="finish-auction" on-click="{{ swapPage }}" next-page="5">
                                    SIGUIENTE
                                    <core-icon icon="arrow-forward" ></core-icon>
                                </paper-button>





                            </paper-shadow>
                        </div>

                    </section>
                    <!-------------------------------------------- DATOS CLIENTE -------------------------------------->
                    <section>
                        <div layout horizontal center center-justified class="wrapperSuccess wrapper"   cross-fade>
                            <paper-shadow z="2" hero hero-id="finish-auction"  id="paperSuccess">
                                <div hidden?="{{ router.templateInstance.model.session.hash != null }}">
                                    <h3>Logueate o rellena tus datos personales.</h3>
                                    <paper-button flex class=" primary-color text-primary-color"  on-click="{{ openLogin }}" >
                                        Login
                                    </paper-button>
                                    <div horizontal="" layout="" center="">
                                        <core-icon icon="social:person"></core-icon>
                                        <paper-input  label="Nombre" value="{{ nameClient }}"   flex></paper-input>
                                        <paper-input  label="Apellidos"  value="{{ surnameClient }}" flex></paper-input>

                                    </div>

                                    <div horizontal="" layout="" center="">
                                        <core-icon icon="mail"></core-icon>
                                        <paper-input  label="Correo" value="{{ emailClient }}"  flex></paper-input>

                                        <core-icon icon="lock"></core-icon>
                                        <paper-input-decorator label="Contraseña" flex >
                                            <input  id="password" type="password" is="core-input" value="{{ passwordClient }}">
                                        </paper-input-decorator>

                                    </div>
                                </div>
                                <div hidden?="{{ router.templateInstance.model.session.hash == null }}">

                                    <h3>Hola de nuevo, {{router.templateInstance.model.session.name}} {{router.templateInstance.model.session.surname}} </h3>
                                    <h5 class="text2-color">{{router.templateInstance.model.session.email}} </h5>
                                </div>

                                <paper-button class=" button-warning text-primary-color"  on-click="{{ sendAjax }}" next-page="3">
                                    <core-icon icon="editor:attach-money" ></core-icon>
                                    COMENZAR SUBASTA
                                </paper-button>
                                <core-ajax
                                        id="NewAuctionFront"
                                        url="http://blabla-pack.es/api/clients/pluses"
                                        handleAs="json"
                                        method="POST"
                                        response="{{ newAuctionFrontResponse}}"
                                        progress="{{ ajaxProgress }}"
                                        on-core-response="{{ handleNewAuctionFront }}"></core-ajax>

                                <paper-progress class="float-progress" value="{{ ajaxProgress.loaded }}"></paper-progress>
                            </paper-shadow>
                        </div>
                    </section>
                </core-animated-pages>
            </div>

            <div vertical center layout class="section-ppal" id="ventajas">
                <div class="content-max">
                    <h1>TODO VENTAJAS </h1>
                    <div  around-justified layout horizontal?="{{ !router.templateInstance.model.tabletScreen }}"
                                                  vertical?="{{ router.templateInstance.model.tabletScreen }}">
                        <template repeat="{{ feature in features }}">
                            <style>
                                #advantage{
                                    padding: 20px 10px;
                                    text-align: center;
                                }
                                paper-shadow{
                                    margin: 10px 20px;
                                }
                            </style>

                            <paper-shadow z="2" flex one>
                                <div layout vertical center id="advantage" style="background: white" >
                                    <paper-ripple  fit></paper-ripple>
                                    <div><core-icon icon="{{feature.icon}}"></core-icon></div>
                                    <div><h4>{{feature.title}}</h4></div>
                                    <div>{{feature.content}}</div>
                                </div>
                            </paper-shadow>

                        </template>
                    </div>
                </div>
            </div>


            <div  center layout class="accent-color section-ppal" vertical name="comoFunciona">

                <div class="content-max">
                    <h1 class="text-primary-color">COMO FUNCIONA</h1>
                    <div  around-justified layout
                          horizontal?="{{ !router.templateInstance.model.tabletScreen }}"
                            vertical?="{{ router.templateInstance.model.tabletScreen }}">
                        <template repeat="{{ feature in features2 }}">
                            <style>
                                #advantage{
                                    padding: 20px 10px;
                                    text-align: center;
                                }
                                paper-shadow{
                                    margin: 10px 20px;
                                }
                            </style>

                            <paper-shadow z="2" flex one>
                                <div layout vertical center id="advantage" style="background: white" >
                                    <paper-ripple  fit></paper-ripple>
                                    <div><core-icon icon="{{feature.icon}}"></core-icon></div>
                                    <div><h4>{{feature.title}}</h4></div>
                                    <div>{{feature.content}}</div>
                                </div>
                            </paper-shadow>

                        </template>
                    </div>
                </div>
            </div>


        <div  center layout class="dark-color section-ppal" vertical id="contacto">

            <div class="content-max">
                <h1 class="text-primary-color">CONTACTO</h1>



                <div layout  center-justified horizontal?="{{ !router.templateInstance.model.tabletScreen }}"
                                            vertical?="{{ router.templateInstance.model.tabletScreen }}">

                    <div  around-justified layout vertical>

                        <h4 class="text-primary-color">Atenderemos a todas tus dudas rellenando nuestro formulario:</h4>
                        <div horizontal layout center >
                            <core-icon icon="mail" ></core-icon>
                            <paper-input class="white_input"   label="Email" flex></paper-input>

                        </div>

                        <div horizontal layout center >
                            <core-icon icon="create" ></core-icon>
                            <paper-autogrow-textarea class="white_input"  label="Origen" id="t1" flex>
                                <textarea id="t1" placeholder="Escribe tu pregunta..."></textarea>
                            </paper-autogrow-textarea>

                        </div>

                        <div horizontal layout reverse>
                            <paper-button id="sendContact" class=" primary-color text-primary-color"  on-click="{{ sendContact }}">
                                <core-icon icon="send" ></core-icon>
                                Enviar
                            </paper-button>
                        </div>
                    </div>

                    <div vertical layout center>
                        <div style="height: 30px" hidden?="{{ !router.templateInstance.model.tabletScreen }}" ></div>
                        <google-map id="map2"
                                    map="{{map2}}"
                                    latitude="40.4378271"
                                    longitude="-3.6795367"
                                    fitToMarkers="true"
                                    zoomable="false"
                                    disableDefaultUI="true"
                                >
                            <google-map-marker latitude="40.4378271" longitude="-3.6795367"
                                               draggable="false" title="Blablapack"></google-map-marker>
                        </google-map>
                    </div>
                </div>

                <h1 class="text-primary-color" style="margin-top: 65px;">REGISTRATE:</h1>


                <div horizontal layout center-justified style="  max-width: 475px; margin: 0 auto;">
                    <paper-button flex id="sendContact" class=" primary-color text-primary-color"  on-click="{{ openNewAccount }}">
                        <core-icon icon="create" ></core-icon>
                        Nueva Cuenta
                    </paper-button>

                    <paper-button flex id="sendContact" class=" primary-color text-primary-color"  on-click="{{ openNewTransporter }}">
                        <core-icon icon="maps:local-shipping" ></core-icon>
                        Soy Transportista
                    </paper-button>
                </div>



                <h1 class="text-primary-color" style="margin-top: 65px;">SIGUENOS EN:</h1>
                <div layout horizontal center-justified>
                    <social-media-icons class="social-icon" icon="facebook" size="40" color="#FFFFFF" href="www.facebook.com"></social-media-icons>
                    <social-media-icons class="social-icon" icon="googleplus"  size="40" color="#FFFFFF" href="www.facebook.com"></social-media-icons>
                    <social-media-icons class="social-icon" icon="twitter"  size="40" color="#FFFFFF" href="www.facebook.com"></social-media-icons>
                </div>

                <span>Blablapack © 2015 - España</span>

            </div>
        </div>
    </div>
    </template>
    <script>


        Polymer({

            // my functions
            sendAjax: function(){
                this.response = {
                    hash:this.router.templateInstance.model.session.hash,
                    name: this.nameClient,
                    surname: this.surnameClient,
                    password: this.passwordClient,
                    email: this.emailClient,
                    origin: this.start,
                    destination: this.end,
                    days: this.days,
                    hours: this.hours,
                    paletizados: this.paletizados,
                    cajas: this.cajas,
                    apilables: this.apilables,
                    service1: this.service1,
                    service2: this.service2,
                    service3: this.service3,
                    service4: this.service4,
                    packs: this.packs};
                this.$.NewAuctionFront.body= JSON.stringify(this.response);

                this.$.NewAuctionFront.go();
            },
            startChanged: function(){
                var request = {
                    query: this.start
                };
                var service = new google.maps.places.PlacesService(this.map);
                service.textSearch(request, this.callback.bind(this));
                this.$.start.showSuggestions(true);

            },
            callback: function(results, status) {

                this.resultsStart = results;
            },
            endChanged: function(){
                var request = {
                    query: this.end
                };
                var service = new google.maps.places.PlacesService(this.map);
                service.textSearch(request, this.callback2.bind(this));
                this.$.end.showSuggestions(true);

            },
            callback2: function(results, status) {

                this.resultsEnd = results;
            },
            completeSwapPage: function(){
                window.dispatchEvent(new Event('resize'));
                this.$.map.zoom = 5;
                this.$.map.latitude= 40.4378271;
                this.$.map.longitude= -3.6795367;
            },
            handleNewAuctionFront:function(){

                console.log(this.newAuctionFrontResponse);

                if(!this.newAuctionFrontResponse.id){
                    this.$.newAuctionError.show();
                }else{
                    this.$.newAuctionSuccess.show();
                    this.router.templateInstance.model.session.id = this.newAuctionFrontResponse.id;
                    this.router.templateInstance.model.session.name = this.newAuctionFrontResponse.name;
                    this.router.templateInstance.model.session.surname = this.newAuctionFrontResponse.surname;
                    this.router.templateInstance.model.session.email = this.newAuctionFrontResponse.email;
                    this.router.templateInstance.model.session.phone = this.newAuctionFrontResponse.phone;
                    this.router.templateInstance.model.session.userType = this.newAuctionFrontResponse.user_type;
                    this.router.templateInstance.model.session.hash = this.newAuctionFrontResponse.hash;
                    this.router.go('/success');
                }

            },
            formatPacks: function(pack){

                //console.log(JSON.stringify(value));
               return JSON.stringify(value);
            },
           openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.open();

            },
            swapPage:function(event, detail, sender){

                this.page = sender.getAttribute("next-page");

            },
            addPacket: function(event, detail, sender){
                if(this.packets == 0){
                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.fill = "forwards";
                    animation.keyframes = [
                        {transform: "scale(0.8)",opacity:0},
                        {transform: "scale(1)",opacity:1}
                    ];
                    animation.target = this.$.fabStep2;
                    animation.play();

                }
                this.index++;
                this.packets++;

                this.packs.push({id:this.index,weight:0,height:0,length:0,width:0});
                //console.log(this.shadowRoot.querySelector("my-pack"));
            },
            deletePacket: function(event, detail, sender){

                if(this.packets == 1){
                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.fill = "forwards";
                    animation.keyframes = [
                        {transform: "scale(1)",opacity:1},
                        {transform: "scale(0.8)",opacity:0}
                    ];
                    animation.target = this.$.fabStep2;
                    animation.play();
                }
                this.packets--;
                var removeItem = sender.pack.id;
                console.log(removeItem);
                this.packs = $.grep(this.packs, function(value) {
                    return value.id != removeItem;
                });
            },
            openNewTransporter: function(){
                this.fire('toogle-register-dialog-ext-2');
            },
            openNewAccount: function(){
                this.fire('toogle-register-dialog-ext-1');
            },
            openLogin: function(){
                this.fire('toogle-register-dialog-ext-0');
            },

            //functions of polymer
            domReady: function() {
                console.log("created search element");
                window.dispatchEvent(new Event('resize'));
                this.router.templateInstance.model.typeContent = 0;
                this.router.templateInstance.model.menuItems=[
                    { name: 'Inicio',icon:'home'},
                    { name: 'Ventajas',icon:'spellcheck'},
                    { name: 'Como Funciona',icon:'help'},
                    { name: 'Contacto',icon:'settings-phone'}   ];
                this.start = "Sevilla";
                this.end= "Madrid";
                this.selectedDate= new Date();
                this.selectedDateReal= new Date();
                this.packets=0;
                this.service1=1;
                this.packs=[];
                this.index= 0;
                this.days= 1;
                this.hours = 0;

                this.features=[
                    { title: 'AHORRA EN TUS ENVIOS',icon:'trending-up',content: 'lo mejor de todo lo que hay asi que si asas as as asa sa sa sas asas as asa sa sas as as as ' },
                    { title: 'CONTROLA TU PAQUETE',icon:'wallet-giftcard',content: 'lo me sadsad jor de todo lo que hay asi que si asa s asa sas a sas asas as ' },
                    { title: 'DECIDE TU PRECIO' ,icon:'payment',content: 'lo meja sdsd asor de todo lo que hay asi que si asasas as as'},
                    { title: 'CONFIA EN LOS MEJORES',icon:'star',content: 'lo masd as das dasdasd ejor de todo lo que hay asi que si' }];

                this.features2=[
                    { title: '1.DONDE',icon:'room',content: 'lo mejor de todo lo que hay asi que si asas as as asa sa sa sas asas as asa sa sas as as as ' },
                    { title: '2.CUANDO',icon:'today',content: 'lo me sadsad jor de todo lo que hay asi que si asa s asa sas a sas asas as ' },
                    { title: '3.PAQUETES' ,icon:'av:queue',content: 'lo meja sdsd asor de todo lo que hay asi que si asasas as as'},
                    { title: '4.EJIGE TU',icon:'star',content: 'lo masd as das dasdasd ejor de todo lo que hay asi que si' }];

            }

        });
    </script>
</polymer-element>