<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="element-success" attributes="email">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                height: 100%;
                text-align: center;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            paper-button{
                margin: 20px;
            }

        </style>

        <div vertical layout center center-justified cross-fade class="button-success" id="wrap">
            <div>
                <core-icon class="big" icon="check-circle" self-center></core-icon>
                <h1 class="button-success" self-center>¡Felicidades! Ya está registrado</h1>
                <h3 class="button-success" self-center>Ahora solo le queda acceder a su email para validar su cuenta y empezar a disfrutar</h3>
                <div horizontal layout center-justified >
                    <core-icon  icon="mail" class="margin-right"></core-icon>
                    <span>{{ router.templateInstance.model.session.email }}</span>
                </div>
                <a href="/#/profile-client">
                    <paper-button id="sendContact" class=" primary-color text-primary-color" hero hero-id="new-account">
                        <core-icon icon="account-circle" class="margin-right"></core-icon>
                        Ver mi perfil
                    </paper-button>
                </a>
            </div>

        </div>


    </template>
    <script>

        Polymer({

                ready: function(){

                    this.email = "naxo8628@gnail.com";
                },

                attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>