<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<link rel="import" href="../elements/my-request.html">
<link rel="import" href="../elements/my-petition.html">


<polymer-element name="my-auction" attributes="auction">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            google-map{
                height: 250px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }
            .text-status0{
                color: #8BC34A;
            }
            .text-status1{
                color: #FFC107;
            }
            .text-status2{
                color: #727272;
            }
            .text-status3{
                color: #D32F2F;
            }
            paper-tab core-icon{
                margin: 6px;
            }
            paper-item core-icon{
                margin: 6px;
            }
            .pack{
                background-color: #F4F4F4;
                padding: 10px;
                margin-bottom: 10px;
            }

        </style>

        <core-ajax
                id="ajaxGetAuction"
                auto="true"
                url="http://blabla-pack.es/api/clients/{{session.id}}/auctions/{{idAuction}}"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ auction }}"
                on-core-response="{{ handleGetTravel }}"></core-ajax>

        <div vertical layout justified cross-fade>
            <google-map id="map{{auction.id}}"
                        map="{{map}}"
                        zoom="10"
                        zoomable="true"
                        disableDefaultUI="false"
                        flex one
                        ></google-map>
            <google-map-directions map="{{map}}"
                                   id="directions"
                                   startAddress="{{ auction.origin }}"
                                   endAddress="{{ auction.destination }}"
                                   travelMode="DRIVING"></google-map-directions>
            <div vertical layout cross-fade flex two >
                <div layout horizontal center class="status{{ verifyExpired(auction.expired, auction.status) }} header">
                    <span self-center>Ruta: <span class="header-text">{{auction.origin}} - {{auction.destination}}</span></span>
                    <span flex></span>
                    <paper-icon-button  icon="cached" on-click="{{ refresh }}"></paper-icon-button>
                    <paper-icon-button  icon="more-vert" on-click="{{  }}"></paper-icon-button>

                </div>
                <paper-tabs scrollable
                            selected="{{auctionItems}}" class="status{{ verifyExpired(auction.expired, auction.status) }} text-primary-color">
                    <paper-tab>
                        <core-icon icon="info"></core-icon>
                        Informacion
                    </paper-tab>
                    <paper-tab>
                        <core-icon icon="assignment-turned-in"></core-icon>
                        Paquetes
                    </paper-tab>
                    <paper-tab>
                        <core-icon icon="history"></core-icon>
                        Historial pujas
                    </paper-tab>
                </paper-tabs>
                <div class="content">

                    <core-animated-pages selected="{{ auctionItems }}" transitions="cross-fade">
                        <!--Informacion-->
                        <section>
                            <div vertical layout justified cross-fade flex>
                                <paper-item>
                                    <core-icon icon="today"></core-icon>
                                    <span class="margin-right">Fecha:</span>
                                    <span class="text2-color">{{formatDateBD(auction.expired ,"Termina en ","Finalizó hace ")}}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="room" class="text-button-success"></core-icon>
                                    <span class="margin-right">Origen:</span>
                                    <span class="text2-color">{{ auction.origin }}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="room" class="text-button-error"></core-icon>
                                    <span class="margin-right">Destino:</span>
                                    <span class="text2-color">{{ auction.destination }}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="maps:local-shipping" class="text2-dark-color"></core-icon>
                                    <span class="margin-right">Categoria:</span>
                                    <span class="text2-color">{{auction.category.name}}</span>
                                    <span flex></span>
                                    <paper-icon-button icon="arrow-drop-down"></paper-icon-button>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="assignment" class="text-status{{ verifyExpired(auction.expired, auction.status) }}" ></core-icon>
                                    <span class="margin-right">Estado:</span>
                                    <span class="text2-color">{{formatStatus(auction.expired, auction.status)}}</span>
                                    <span flex></span>
                                    <paper-icon-button icon="more-vert"></paper-icon-button>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="create" ></core-icon>
                                    <span class="margin-right">Fecha publicación:</span>
                                    <span class="text2-color">{{auction.created | formatDate}}</span>
                                </paper-item>
                            </div>
                        </section>
                        <!--paquetes-->
                        <section>
                            <template repeat="{{ pack in auction.packages }}" cross-fade>
                                <div vertical layout class="pack" cross-fade>
                                    <div>Nombre: {{pack.name}}</div>
                                    <div>Peso: <b>{{pack.weight}}</b> Kg</div>
                                    <div>Dimensiones: <b>{{pack.height}}</b>x<b>{{pack.width}}</b>x<b>{{pack.length}}</b> cm</div>
                                </div>
                            </template>
                        </section>
                        <!--Pujas ganadas-->
                        <section>
                            <template repeat="{{ bid in auction.bids }}" cross-fade>
                                <div horizontal layout center class="pack" cross-fade>
                                    <h3 flex>{{bid.price}}€</h3>
                                    <div>{{ formatDateBD(bid.created,"","Pujado hace ")}}</div>
                                </div>
                            </template>
                        </section>
                    </core-animated-pages>
                </div>
            </div>
        </div>
    </template>
    <script>

        Polymer({

            formatDateBD: function(value,fin1,fin2){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = fin1;
                if(diff < 0){
                    fin=fin2;
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            refresh: function(){

                this.$.ajaxGetAuction.go();
            },
            formatDate: function(value){
                if (!value) {
                    return value;
                }
                var date= value.toString().split("T");

                //console.log(date);
                return date[0];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                }
                return res;
            },
            formatStatus: function(date,status){

                status = this.verifyExpired(date,status);
                var statusString = "";
                switch (status){
                    case 0: statusString = "Activo"; break;
                    case 1: statusString = "Viajando"; break;
                    case 2: statusString = "Finalizado"; break;
                    case 3: statusString = "Cancelado"; break;
                }

                return statusString;

            },
            domReady: function(){

                this.auctionItems = 0;
                this.router.templateInstance.model.typeContent = 1;


                 window.dispatchEvent(new Event('resize'));
             },

            attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>