<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">


<!-- MY COMPONENTS -->
<link rel="import" href="./my-pack.html">

<polymer-element name="my-auctions" attributes="auctions">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            paper-shadow{
                margin: 15px;
            }
            google-map{
                height: 200px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }

            .cover-white{
                z-index: 10;
                background-color: white;
            }



            #dialogNewAuction core-icon{
                margin: 15px;
            }
            #dialogNewAuction paper-button core-icon{
                margin: 0px 15px 0px 0px;
            }
            #dialogNewAuction paper-input, #register paper-input-decorator{
                margin: 0px 3px;
            }
            paper-toast {
                top: 74px;
                right: 10px;
                left: auto;
                bottom: auto;
            }
        </style>

        <!-- TOAST ERROR -->
        <paper-toast id="newAuctionError" text="{{ newAuctionResponse }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="loginError" text="Error de sesion" duration="5000" class="button-error"></paper-toast>
        <paper-toast id="newAuctionSuccess" text="Subasta creada correctamente" duration="5000" class="button-success"></paper-toast>

        <core-animated-pages selected="{{ page }}" transitions="hero-transition cross-fade" on-core-animated-pages-transition-end="{{ completeSwapPage }}" fit >

            <section>
                <paper-fab on-tap="{{swapPage}}" next-page="1" icon="add" class="button-success" style="position:absolute; bottom: 20px;right: 20px;z-index: 10;" hero hero-id="addAuction"></paper-fab>
            </section>
            <section class="cover-white">
              <div id="dialogNewAuction" backdrop layered="false" transition="core-transition-center" hero hero-id="addAuction"  >

                  <div layout vertical  class="content-dialog-int" cross-fade>
                      <h2 style="margin: 0px;" cross-fade>Nueva subasta</h2>
                      <div horizontal layout>
                          <paper-button   class="button-success" on-click="{{ }}" >Datos</paper-button>
                          <paper-button  disabled?="{{ packs.length == 0 }}" class="button-success" on-click="{{ swapPage}}"  next-page="2" >Paquetes</paper-button>
                          <paper-button disabled class="button-success" on-click="{{ }}" >Servicios</paper-button>
                      </div>
                      <h4 cross-fade>Define los puntos de origen y destino para su subasta </h4>
                      <google-map id="mapNew"
                                  map="{{map}}"
                                  latitude="40.4378271"
                                  longitude="-3.6795367"
                                  zoom="5"
                                  zoomable="false"
                                  disableDefaultUI="true"
                                  flex one
                              ></google-map>
                      <google-map-directions map="{{map}}"
                                             id="directions"
                                             startAddress="{{ origin }}"
                                             endAddress="{{ destination }}"
                                             travelMode="DRIVING"></google-map-directions>

                      <div vertical layout center>

                          <div horizontal="" layout="" center="">
                              <core-icon icon="room" style=" color: #8BC34A; "></core-icon>
                              <paper-autocomplete id="start" filter="0"  floatingLabel label="Origen" value="{{ origin }}" >
                                  <template repeat="{{resultStart in resultsStart}}">
                                      <core-item label="{{ resultStart.formatted_address}}"></core-item>
                                  </template>
                              </paper-autocomplete>

                          </div>

                          <div horizontal="" layout="" center="">
                              <core-icon icon="room" style=" color: #D32F2F; "></core-icon>
                              <paper-autocomplete id="end" filter="0" floatingLabel label="Destino" value="{{ destination }}" >
                                  <template repeat="{{resultEnd in resultsEnd}}">
                                      <core-item label="{{ resultEnd.formatted_address}}"></core-item>
                                  </template>
                              </paper-autocomplete>
                          </div>

                          <div horizontal layout center >
                              <core-ajax
                                      id="ajaxAllCategories"
                                      auto="true"
                                      url="http://blabla-pack.es/api/categories"
                                      params='{}'
                                      handleAs="json"
                                      method="GET"
                                      response="{{ categories }}"
                                      on-core-response="{{ handleAllCategories }}"></core-ajax>
                              <paper-dropdown-menu id="categoryDrop" label="Elige categoria" on-core-select="{{ updateCategory }}" flex>
                                  <paper-dropdown class="dropdown">
                                      <core-menu class="menu">
                                          <template repeat="{{category in categories}}">
                                              <paper-item label="{{category.id}}">{{category.name}}</paper-item>
                                          </template>
                                      </core-menu>
                                  </paper-dropdown>
                              </paper-dropdown-menu>
                          </div>
                      </div>

                      <div horizontal layout  >
                          <paper-button class="button-error" on-tap="{{swapPage}}" next-page="0">CERRAR</paper-button>
                          <div flex></div>
                          <paper-button  class="button-success" on-click="{{ swapPage }}" hero hero-id="data" next-page="2">
                              SIGUIENTE
                              <core-icon icon="arrow-forward" ></core-icon>
                          </paper-button>
                      </div>
                  </div>
              </div>
          </section>
            <section class="cover-white">
                <div vertical layout cross-fade>
                    <h2 style="margin: 0px;" cross-fade>Nueva subasta</h2>
                    <div horizontal layout>
                        <paper-button  hero hero-id="data" class="button-info" on-click="{{ swapPage}}"  next-page="1">Datos</paper-button>
                        <paper-button   class="button-success" on-click="{{ }}" >Paquetes</paper-button>
                        <paper-button disabled class="button-success" on-click="{{ }}" >Servicios</paper-button>
                    </div>
                    <h4 cross-fade>Añade tus paquetes a la subasta </h4>
                    <div id="searchTravel-packet2" >
                        <div vertical layout>
                            <paper-button   class="button-info" on-click="{{ addPacket }}">
                                <div><paper-icon-button icon="add" ></paper-icon-button></div>
                                Añadir paquete
                            </paper-button>
                            <template repeat="{{ pack in packs }}">
                                <my-pack pack="{{ pack }}"
                                         on-delete-pack="{{ deletePacket }}"></my-pack>
                            </template>

                        </div>
                    </div>
                    <div horizontal layout  >
                        <paper-button class="button-error" on-tap="{{swapPage}}" next-page="0">CERRAR</paper-button>
                        <div flex></div>
                        <paper-button hero hero-id="pack" class="button-success" on-click="{{ swapPage }}" next-page="3" disabled?="{{ packs.length == 0 }}">
                            SIGUIENTE
                            <core-icon icon="arrow-forward" ></core-icon>
                        </paper-button>
                    </div>
                </div>
            </section>
            <section class="cover-white">
                <div vertical layout cross-fade>
                    <h2 style="margin: 0px;" cross-fade>Nueva subasta</h2>
                    <div horizontal layout>
                        <paper-button  hero hero-id="data" class="button-info" on-click="{{ swapPage}}"  next-page="1">Datos</paper-button>
                        <paper-button  hero hero-id="pack" class="button-info" on-click="{{ swapPage}}"  next-page="2" >Paquetes</paper-button>
                        <paper-button  class="button-success" on-click="{{ }}" >Servicios</paper-button>
                    </div>
                    <h4 cross-fade>Ya estamos terminando</h4>
                    <div vertical layout justified>
                        <paper-item>
                            <div vertical layout flex start-justified>
                                <div  self-start>Artíuclos paletizados</div>
                                <div  class=" text2-color" self-start>(Se pueden mover con un montacargas)</div>
                            </div>
                            <paper-toggle-button checked="{{ paletizados }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div vertical layout flex start-justified>
                                <div  self-start>Artíuclos en cajas</div>
                                <div  class=" text2-color" self-start>(Requiere mas cuidado)</div>
                            </div>
                            <paper-toggle-button checked="{{ cajas }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div vertical layout flex start-justified>
                                <div  self-start>Artíuclos apilables</div>
                                <div  class=" text2-color" self-start>(El artículo puede sostener el peso de otro objeto)</div>
                            </div>
                            <paper-toggle-button checked="{{ apilables }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div vertical layout flex start-justified>
                                <div  self-start>Duración</div>
                                <div  class=" text2-color" self-start>Tiempo de la subasta</div>
                            </div>
                            <paper-input-decorator label="Dias" floatingLabel class="margin-right" >
                                <input style="width: 60px" type="number" min="1" max="60" is="core-input" value="{{ days }}" required="">
                            </paper-input-decorator>
                            <paper-input-decorator label="Horas" floatingLabel >
                                <input style="width: 60px" type="number" min="0" max="24" is="core-input" value="{{ hours }}" required="">
                            </paper-input-decorator>
                        </paper-item>
                    </div>

                    <h4>Consideraré ofertas por servicios de: </h4>
                    <div vertical layout justified>
                        <paper-item>
                            <div flex self-start>Sólo transporte</div>
                            <paper-toggle-button checked="{{ service1 }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div flex self-start>Con carga y descarga</div>
                            <paper-toggle-button checked="{{ service2 }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div flex self-start>Embalaje,carga y descarga</div>
                            <paper-toggle-button checked="{{ service3 }}"></paper-toggle-button>
                        </paper-item>
                        <paper-item>
                            <div flex self-start>Servicio completo</div>
                            <paper-toggle-button checked="{{ service4 }}"></paper-toggle-button>
                        </paper-item>

                    </div>
                    <core-ajax
                            id="ajaxNewAuction"
                            auto="false"
                            url="http://blabla-pack.es/api/clients/pluses"
                            handleAs="json"
                            method="POST"
                            response="{{ newAuctionResponse }}"
                            on-core-response="{{ handleNewAuction }}"></core-ajax>
                    <div horizontal layout  >
                        <paper-button class="button-error" on-tap="{{swapPage}}" next-page="0">CERRAR</paper-button>
                        <div flex></div>
                        <paper-button  class="button-success" on-click="{{ newAuctionFunction }}" disabled?="{{ packs.length == 0 }}">
                                FINALIZAR
                        </paper-button>
                    </div>
                </div>
            </section>

        </core-animated-pages>


        <core-ajax
                id="ajaxAllAuctions"
                auto="true"
                url="http://blabla-pack.es/api/clients/{{session.id}}/auctions"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ auctions }}"
                on-core-response="{{ handleAllAuctions }}"></core-ajax>
        <core-list data="{{ auctions }}" fit cross-fade>
            <template>
                <div horizontal layout>
                    <paper-shadow z="1" flex id="expandable{{model.id}}" >
                        <div horizontal layout justified >
                            <google-map id="map{{model.id}}"
                                        map="{{map}}"
                                        latitude="{{model.la1}}"
                                        longitude="{{model.lo1}}"
                                        zoom="10"
                                        zoomable="false"
                                        disableDefaultUI="true"
                                        flex one
                                        ></google-map>
                            <google-map-directions map="{{map}}"
                                                   id="directions"
                                                   startAddress="{{ model.origin }}"
                                                   endAddress="{{ model.destination }}"
                                                   travelMode="DRIVING"></google-map-directions>
                            <div vertical layout cross-fade flex two on-click="{{ loadUrl }}" path="auction/{{model.id}}" class="pointer">
                                <div layout horizontal center class="status{{ verifyExpired(model.expired, model.status) }} header">
                                    <span self-center>Ruta: <span class="header-text">{{model.origin}} - {{model.destination}}</span></span>
                                    <span flex></span>
                                    <paper-icon-button  icon="more-vert" on-click="{{ more }}" idAuction="{{model.id}}"></paper-icon-button>

                                </div>
                                <div class="content">
                                    <div layout horizontal center>
                                        <span self-center>Fecha: <span class="text2-color">{{model.expired | formatDateBD }}</span></span>
                                    </div>
                                    <div layout horizontal center>
                                        <span self-center>Paquetes:
                                            <template repeat="{{ pack in model.packages }}">
                                                <span class="text2-color">
                                                   {{pack.name }} {{pack.weight }}kg ({{pack.height}}x{{pack.width}}x{{pack.length}} cm),
                                                </span>
                                            </template>
                                        </span>
                                    </div>
                                    <div layout horizontal center>

                                        <core-tooltip label="{{model.numBids }} pujas de esta subasta" position="bottom" class="fancy" layout horizontal center>
                                            <paper-icon-button icon="assignment-turned-in" on-click="{{  }}"></paper-icon-button>
                                            <span >{{model.numBids }}</span></span>
                                        </core-tooltip>

                                        <core-tooltip label="{{model.price}}€ la ultima puja" position="bottom" class="fancy" layout horizontal center>
                                            <paper-icon-button icon="credit-card" on-click="{{  }}"></paper-icon-button>
                                            <span >{{model.price}}€</span></span>
                                        </core-tooltip>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </paper-shadow>
                </div>
        </template>

    </core-list>



    </template>
    <script>

        Polymer({



            loadUrl: function(event, detail, sender){

                this.router.go('/'+sender.getAttribute("path"));

            },
            formatDate: function(value){
                if (!value) {
                    return value;
                }
                var date= value.toString().split(" ");

                //console.log(date);
                return date[2]+" "+date[1]+" "+date[3];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                    diff = -diff;
                }
                return res;
            },
            originChanged: function(){
                var request = {
                    query: this.origin
                };
                var service = new google.maps.places.PlacesService(this.map);
                service.textSearch(request, this.callback.bind(this));
                this.$.start.showSuggestions(true);

            },
            callback: function(results, status) {

                this.resultsStart = results;
            },
            destinationChanged: function(){
                var request = {
                    query: this.destination
                };
                var service = new google.maps.places.PlacesService(this.map);
                service.textSearch(request, this.callback2.bind(this));
                this.$.end.showSuggestions(true);

            },
            callback2: function(results, status) {

                this.resultsEnd = results;
            },
            formatDateBD: function(value){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = "Termina en ";
                if(diff < 0){
                    fin="Finalizó hace ";
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            newAuctionFunction: function(){
                //ajax to new auction
                this.response = {
                    response: "auction",
                    hash:this.router.templateInstance.model.session.hash,
                    origin: this.origin,
                    destination: this.destination,
                    days: this.days,
                    hours: this.hours,
                    paletizados: this.paletizados,
                    cajas: this.cajas,
                    apilables: this.apilables,
                    service1: this.service1,
                    service2: this.service2,
                    service3: this.service3,
                    service4: this.service4,
                    packs: this.packs};
                this.$.ajaxNewAuction.body= JSON.stringify(this.response);

                this.$.ajaxNewAuction.go();
            },
            addPacket: function(event, detail, sender){
                if(this.packets == 0){
                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.fill = "forwards";
                    animation.keyframes = [
                        {transform: "scale(0.8)",opacity:0},
                        {transform: "scale(1)",opacity:1}
                    ];
                    animation.target = this.$.fabStep2;
                    animation.play();

                }
                this.index++;

                this.packs.push({id:this.index,weight:0,height:0,length:0,width:0});
                //console.log(this.shadowRoot.querySelector("my-pack"));
            },
            deletePacket: function(event, detail, sender){

                if(this.packs.length == 1){
                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.fill = "forwards";
                    animation.keyframes = [
                        {transform: "scale(1)",opacity:1},
                        {transform: "scale(0.8)",opacity:0}
                    ];
                    animation.target = this.$.fabStep2;
                    animation.play();
                }
                var removeItem = sender.pack.id;
                console.log(removeItem);
                this.packs = $.grep(this.packs, function(value) {
                    return value.id != removeItem;
                });
            },
            handleNewAuction: function () {

                if(!this.newAuctionResponse.id){
                    this.$.newAuctionError.show();
                }else{
                    this.$.newAuctionSuccess.show();
                    this.router.go('/auction/'+this.newAuctionResponse.id);
                    console.log(this.newAuctionResponse);
                }
                this.$.ajaxAllAuctions.go();
            },
            completeSwapPage: function(){

                window.dispatchEvent(new Event('resize'));
            },
            handleAllAuctions: function (){

                if(!this.session.hash){
                    this.$.loginError.show();
                }
            },
            updateCategory: function(event, detail, sender) {

                console.log(detail.item);
                this.newAuction.category = detail.item.getAttribute("label");
            },
            swapPage:function(event, detail, sender){

                this.page = sender.getAttribute("next-page");

            },
            openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.open();

            },
            domReady: function(){

                this.selectedDate= new Date();
                this.packs= [];
                this.index = 0;
                this.service1=1;
                this.router.templateInstance.model.typeContent = 1;

            }

        });
    </script>
</polymer-element>