<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="my-auction-bid" attributes="auction session travel">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">

        <style>
            .content{

                padding: 10px;
            }
            paper-shadow {
                margin: 15px;
            }

        </style>


        <core-ajax
                id="ajaxPostBid"
                auto="false"
                url="http://blabla-pack.es/api/shippers/{{session.id}}/travels/{{travel.id}}/bids/{{auction.id}}"
                handleAs="json"
                method="POST"
                response="{{ bid }}"
                on-core-response="{{ handlePostBid }}"></core-ajax>
        <div horizontal layout>
            <paper-shadow z="1" flex id="expandable{{auction.id}}" >
                <div horizontal  layout  >
                    <div vertical layout flex cross-fade center-justified>
                        <div class="content">
                            <div layout horizontal center>
                                <span self-center>Origen: <span class="text2-color">{{auction.origin }}</span></span>
                            </div>
                            <div layout horizontal center>
                                <span self-center>Destino: <span class="text2-color">{{auction.destination }}</span></span>
                            </div>
                            <div layout horizontal center>
                                <span self-center>Fecha: <span class="text2-color">{{auction.expired | formatDateBD }}</span></span>
                            </div>
                            <div layout horizontal center>
                                <span self-center>Paquetes:</span>
                            </div>
                            <template  repeat="{{ pack in auction.packages }}">
                                <div layout horizontal center>
                                    <span self-center>{{ pack.name}}: <span class="text2-color">{{ pack.weight }}Kg, {{ pack.height }}x{{ pack.width }}x{{ pack.length }}cm</span></span>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div vertical center layout >
                        <div>
                            <paper-input disabled style="width: 60px;" type="number" label="precio" value="{{auction.price}}"></paper-input>€
                        </div>

                        <div>
                            {{auction.numBids}} pujas
                        </div>
                        <div>
                            <paper-button  class="button-warning" >En cabeza!</paper-button>

                        </div>
                    </div>
                </div>
            </paper-shadow>
        </div>
    </template>
    <script>

        Polymer({

            postBid: function(event, detail, sender){

                this.$.ajaxPostBid.params = '{"price":'+sender.getAttribute("price")+'}';
                this.$.ajaxPostBid.go();
            },
            handlePostBid: function () {

                if(!this.bid.id){
                    this.fire("finish-bid-error");
                }else{
                    this.fire("finish-bid-ok");
                }

            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                }
                return res;
            },
            formatDateBD: function(value){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = "Termina en ";
                if(diff < 0){
                    fin="Finalizó hace ";
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            }
        });
    </script>
</polymer-element>