<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<polymer-element name="my-config" attributes="email">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            h2{
                margin-bottom: 0px  ;
            }
            .wrap{
                text-align: center;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 20px;
            }
            paper-shadow{
                padding: 10px;
                margin: 15px;
            }
            .title{
                font-size: 40px;
                margin: 0px 8px;
            }

            google-chart {
                height: 300px;
                width: 100%;
            }

            .myData core-icon{
                margin: 15px;
            }
            .myData paper-button core-icon{
                margin: 0px 15px 0px 0px;
            }
            .myData paper-input, .myData paper-input-decorator{
                margin: 0px 3px;
            }

        </style>

        <div vertical layout  cross-fade class="" >

            <div horizontal layout>
                <paper-shadow z="1" flex >
                    <div vertical layout cross-fade>
                        <h2 class="margin-left" self-start>Mis datos</h2>
                        <h4 class="margin-left" self-start>Edita tus datos de contacto</h4>

                    </div>

                    <div vertical layout cross-fade class="myData">

                        <div horizontal="" layout="" center="">
                            <core-icon icon="social:person"></core-icon>
                            <paper-input floatingLabel  label="Nombre" value="{{ router.templateInstance.model.session.name }}"  flex></paper-input>
                            <paper-input floatingLabel  label="Apellidos" value="{{ router.templateInstance.model.session.surname }}"  flex></paper-input>

                        </div>

                        <div horizontal="" layout="" center="">
                            <core-icon icon="mail"></core-icon>
                            <paper-input floatingLabel  label="Correo"  value="{{ router.templateInstance.model.session.email }}" flex></paper-input>

                        </div>

                        <div horizontal="" layout="" center="">
                            <core-icon icon="communication:phone"></core-icon>
                            <paper-input floatingLabel label="Teléfono" value="{{ router.templateInstance.model.session.phone }}"  flex></paper-input>

                        </div>

                        <paper-button self-end class="button-success">
                            GUARDAR
                        </paper-button>

                    </div>
                </paper-shadow>
            </div>
        </div>

        <div vertical layout  cross-fade class="" >

            <div horizontal layout>
                <paper-shadow z="1" flex >
                    <div vertical layout cross-fade>
                        <h2 class="margin-left" self-start>Cambiar contraseña</h2>
                        <h4 class="margin-left" self-start>Edita tus datos de contacto</h4>

                    </div>

                    <div vertical layout cross-fade class="myData">

                        <div horizontal="" layout="" center="">
                            <core-icon icon="lock"></core-icon>
                            <paper-input-decorator label="Antigua contraseña" flex >
                                <input  id="password" type="password" is="core-input" pattern="^[0-9].*">
                            </paper-input-decorator>
                            <paper-input-decorator label="Nueva contraseña" flex >
                                <input  id="passwordNew" type="password" is="core-input" pattern="^[0-9].*">
                            </paper-input-decorator>

                        </div>
                        <paper-button self-end class="button-info">
                            CAMBIAR
                        </paper-button>
                    </div>

                </paper-shadow>
            </div>
        </div>

        <div vertical layout  start-justified cross-fade  class="wrap">

            <div horizontal layout>
                <paper-shadow z="1" flex >
                    <div vertical layout center cross-fade>
                        <h2 class="margin-left" self-start>Notificaciones</h2>
                        <h4 class="margin-left" self-start>Decide que notificaciones se enviarán a tu email</h4>

                    </div>

                    <template repeat="{{ notification in router.templateInstance.model.session.notifications}}">
                        <paper-item>
                            <core-icon class="" icon="{{ notification.icon}}"></core-icon>
                            <div  class="margin-left" >{{notification.title}}</div>
                            <span flex></span>
                            <div class="text2-color" >{{notification.date}}</div>
                            <paper-toggle-button checked?="{{ notification.checked == 1 }}"></paper-toggle-button>
                        </paper-item>
                    </template>

                </paper-shadow>
            </div>


        </div>


    </template>
    <script>

        Polymer({

                 domReady: function(){

                    this.email = "naxo8628@gnail.com";
                    this.router.templateInstance.model.typeContent = 1;
                    this.router.templateInstance.model.session.notifications = [
                        {id:1, title: 'Puja Superada',icon:'assignment-late',checked:'0'},
                        {id:2, title: 'Puja Superada',icon:'assignment-late',checked:'1'},
                        {id:3, title: 'Puja Ganadora',icon:'assignment-turned-in',checked:'1'},
                        {id:4, title: 'Subasta terminada (sin puja ganadora)',icon:'block',checked:'1'},
                        {id:2, title: 'Puja Superada',icon:'assignment-late',checked:'1'},
                        {id:5, title: 'Puja Superada',icon:'assignment-late',checked:'0'},
                        {id:5, title: 'Nueva solicitud de envio',icon:'inbox',checked:'1'},
                        {id:5, title: 'Pujaste en un envio',icon:'star',checked:'0'},
                        {id:6, title: 'Puja Superada',icon:'assignment-late',checked:'1'},
                        {id:6, title: 'Viaje publicado',icon:'maps:local-shipping',checked:'1'},




                    ];
                },

                attached : function() {

                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.keyframes = [
                        {opacity: 0, marginTop:"-71px"},
                        {opacity: 1, marginTop:"0px"}
                    ];
                    animation.target = this;
                    animation.play();
                }

        });
    </script>
</polymer-element>