<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="my-element" noscript>
    <template>
        <span>Hello from <b>my-element</b>. This is my Shadow DOM.</span>
    </template>
</polymer-element>