<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">

<polymer-element name="my-pack" attributes="pack">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <style>


            .shadow{
                background-color: rgba(255, 183, 68, 0.33);
                margin: 4px;
                margin-bottom: 0px;
            }
            paper-input{
                margin: 0px 10px;
                width: 73px;
            }

            paper-input-decorator{
                margin: 0px 10px;
                width: 73px;
            }
        </style>
        <div horizontal layout center class="pack shadow">
            <div vertical layout>
                <div horizontal layout >
                    <div>
                        <paper-input-decorator floatingLabel  label="Nombre" style="width: 166px"  >
                            <input  type="text" is="core-input" value="{{pack.name}}" required>
                        </paper-input-decorator>
                    </div>
                    <div>
                        <paper-input-decorator floatingLabel label="Peso(kg)" autoValidate error="" >
                            <input  min="0" type="number" is="core-input" value="{{pack.weight}}" required>
                        </paper-input-decorator>
                    </div>
                </div>
                <div horizontal layout >
                    <div>
                        <paper-input-decorator floatingLabel label="Alto(cm)" autoValidate error="" >
                            <input  min="0" type="number" is="core-input" value="{{pack.height}}" required>
                        </paper-input-decorator>
                    </div>
                    <div>
                        <paper-input-decorator floatingLabel label="Ancho(cm)" autoValidate error="" >
                            <input  min="0" type="number" is="core-input" value="{{pack.width}}" required>
                        </paper-input-decorator>
                    </div>
                    <div>
                        <paper-input-decorator floatingLabel label="Largo(cm)" autoValidate error="" >
                            <input  min="0" type="number" is="core-input" value="{{pack.length}}" required>
                        </paper-input-decorator>
                    </div>
                </div>
            </div>
            <div flex></div>
            <div>
                <paper-icon-button class="text-button-error" icon="delete" index="{{ pack.id }}" on-click="{{ deletePacket }}"></paper-icon-button>
            </div>
        </div>

    </template>
    <script>

        Polymer({

            deletePacket: function(){

                var myPack = this;

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 1, marginTop:"0px"},
                    {opacity: 0, marginTop:"-71px"}
                ];
                animation.target = myPack;
                animation.play();

                animation.addEventListener("core-animation-finish",function(e){

                    myPack.fire("delete-pack");
                });
            },

            attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>