<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<polymer-element name="my-profile-admin" attributes="email">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 15px 15px 0px 15px;
            }
            paper-shadow{
                padding: 10px;
                margin: 15px;
            }
            .title{
                font-size: 40px;
                margin: 0px 8px;
            }

            google-chart {
                height: 300px;
                width: 100%;
            }

        </style>

        <div vertical layout  start-justified cross-fade  id="wrap">

            <div horizontal layout>
                <paper-shadow z="1" flex >
                    <div horizontal layout center center-justified cross-fade>
                        <core-icon class="margin-right" icon="history" self-center></core-icon>
                        <h4 self-center>Historial</h4>

                    </div>

                    <template repeat="{{ notification in router.templateInstance.model.session.notifications}}">
                        <paper-item>
                            <core-icon class="" icon="{{ notification.icon}}"></core-icon>
                            <div  class="margin-left" >{{notification.title}}</div>
                            <span flex></span>
                            <div class="text2-color" >{{notification.date}}</div>
                            <paper-icon-button class="" icon="more-vert"></paper-icon-button>
                        </paper-item>
                    </template>

                </paper-shadow>
            </div>


        </div>


    </template>
    <script>

        Polymer({

                 loadUrl: function(event, detail, sender){

                     this.router.go('/'+sender.getAttribute("path"));

                 },

                 domReady: function(){

                    this.email = "naxo8628@gnail.com";
                    this.router.templateInstance.model.typeContent = 1;
                    this.router.templateInstance.model.session.notifications = [
                        {id:1, title: 'Puja Superada',icon:'assignment-late',date:'Hoy 13:12'},
                        {id:2, title: 'Puja Superada',icon:'assignment-late',date:'Hoy 11:58'},
                        {id:3, title: 'Puja Ganadora',icon:'assignment-turned-in',date:'Hoy 10:51'},
                        {id:4, title: 'Subasta terminada (sin puja ganadora)',icon:'block',date:'Ayer 21:34'},
                        {id:2, title: 'Puja Superada',icon:'assignment-late',date:'Hoy 11:58'},
                        {id:5, title: 'Puja Superada',icon:'assignment-late',date:'Ayer 15:08'},
                        {id:5, title: 'Nueva solicitud de envio',icon:'inbox',date:'Ayer 15:08'},
                        {id:5, title: 'Pujaste en un envio',icon:'star',date:'Ayer 14:42'},
                        {id:6, title: 'Puja Superada',icon:'assignment-late',date:'Ayer 12:09'},
                        {id:6, title: 'Viaje publicado',icon:'maps:local-shipping',date:'Ayer 12:09'},




                    ];
                    this.router.templateInstance.model.menuItems=[
                        { name: 'Inicio',icon:'home',link:"#/home"},
                        { name: 'Usuarios',icon:'account-circle',link:"#/clients"},
                        { name: 'Transportistas',icon:'account-circle',link:"#/shippers"},
                        { name: 'Viajes',icon:'maps:local-shipping',link:"#/travels"},
                        { name: 'Subastas',icon:'editor:attach-money',link:"#/auctions"},
                        { name: 'Categorias',icon:'filter-list',link:"#/categories"},
                        { name: 'Certificados',icon:'content-paste',link:"#/certificates"},
                        { name: 'Secciones',icon:'view-day',link:"#/sections"},
                        { name: 'Configuración',icon:'settings',link:"#/configuration"}  ];
                },

                attached : function() {

                    var animation = new CoreAnimation();
                    animation.duration = 200;
                    animation.keyframes = [
                        {opacity: 0, marginTop:"-71px"},
                        {opacity: 1, marginTop:"0px"}
                    ];
                    animation.target = this;
                    animation.play();
                }

        });
    </script>
</polymer-element>