<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-collapse/core-collapse.html">

<polymer-element name="my-petition" attributes="request">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>


            paper-input{
                margin: 0px 10px;
                width: 73px;
            }

            paper-input-decorator{
                margin: 0px 10px;
                width: 73px;
            }
            .price-ok{
                font-size: 30px;
            }
            .small{
                width: 18px;
            }
            paper-shadow{
                margin: 10px 5px;
            }
            .profile-circle{

                width:50px;
                height:50px;
                border-radius:25px;
                color: white;
                font-size: 26px;
            }
            .status0{
                background-color: #727272;
            }
            .status1{
                background-color: #8BC34A;
            }
            .status2{
                background-color: #FFC107;
            }
            .status3{
                background-color: #D32F2F;
            }

        </style>
        <paper-shadow z="2" vertical layout  cross-fade>
            <div horizontal layout center class="padding">
                <div class="profile-circle status{{request.status}}" vertical layout center-justified center>
                    {{request.shipping.client.name | firstWord }}
                </div>

                <div vertical layout flex class="margin-left">
                    <div horizontal layout center>
                        <div class="margin-small">
                            <core-icon icon="mail" class="text-button-success"></core-icon>
                            <core-icon icon="check" class="text-button-success"></core-icon>
                        </div>

                        <div class="margin-small">
                            <core-icon icon="communication:phone" class="text-button-error"></core-icon>
                            <core-icon icon="clear" class="margin-small text-button-error"></core-icon>
                        </div>

                    </div>
                    <div horizontal layout center>
                        <core-icon icon="star" class="margin-small"></core-icon>
                        <span class="text2-color">5</span>

                        <core-icon icon="payment" class="margin-small"></core-icon>
                        <span class="text2-color">{{request.price}}€</span>
                    </div>
                </div>

                <div horizontal layout center >
                    <core-tooltip label="Aceptar" position="top" class="fancy">
                        <paper-icon-button icon="check"></paper-icon-button>
                    </core-tooltip>
                    <core-tooltip label="Cancelar" position="top" class="fancy">
                        <paper-icon-button icon="clear"></paper-icon-button>
                    </core-tooltip>
                </div>
            </div>

            <div class="button-success" horizontal layout center on-click="{{ togglePacks }}">
                <core-icon icon="add" class="margin"></core-icon>
                Ver Paquetes
            </div>
            <div>
                <core-collapse id="collapse" class="button-success" >
                    <div horizontal layout>
                        <template repeat="{{ pack in request.shipping.packs }}" horizontal layout>
                            <div  layout center class="pack" vertical?="{{ !router.templateInstance.model.tabletScreen }}"
                            horizontal?="{{ router.templateInstance.model.tabletScreen }}">
                                <div>
                                    {{pack.weight}} kg
                                </div>
                                <div>
                                    {{pack.height}}x{{pack.width}}x{{pack.length}} cm
                                </div>
                            </div>
                        </template>
                    </div>
                </core-collapse>
            </div>
        </paper-shadow>

    </template>
    <script>

        Polymer({

            firstWord: function(value){

                return value.substr(0,1);
            },
            togglePacks: function() {
                this.$.collapse.toggle();
            },
            attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>