<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-collapse/core-collapse.html">

<polymer-element name="my-request" attributes="request">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>


            paper-input{
                margin: 0px 10px;
                width: 73px;
            }

            paper-input-decorator{
                margin: 0px 10px;
                width: 73px;
            }
            .price-ok{
                font-size: 30px;
            }
            .small{
                width: 18px;
            }
            paper-shadow{
                margin: 10px 5px;
            }
            .pack{
                margin: 5px;
                border: 1px solid white;
                padding: 5px;
            }

        </style>
        <paper-shadow z="2" vertical layout  cross-fade>
            <div horizontal layout center class="padding">
                <core-image style="width:50px; height:50px; border-radius:25px;" sizing="cover"
                src="/img/{{ request.shipping.client.image }}"></core-image>
                <div vertical layout flex class="margin-left">
                    <div>{{request.shipping.client.name}} {{request.shipping.client.surname}}</div>
                    <div horizontal center layout>
                        <core-icon icon="mail" class="margin-right small"></core-icon>
                        <div class="text2-color">{{request.shipping.client.mail}}</div>
                    </div>
                    <div horizontal center layout>
                        <core-icon icon="communication:phone" class="margin-right small"></core-icon>
                        <div class="text2-color">{{request.shipping.client.phone}}</div>
                    </div>
                </div>

                <div vertical layout center >
                    <core-tooltip label="Precio final. Tu puja ganadora" position="left" class="fancy">
                        <div class="price-ok text-button-success">{{request.price}}€</div>
                    </core-tooltip>
                    <core-tooltip label="Precio base. Precio inicial de la subasta" position="left" class="fancy">
                        <div class="price-base text2-color"> {{request.shipping.priceBase}}€</div>
                    </core-tooltip>
                </div>
            </div>

            <div class="button-success" horizontal layout center on-click="{{ togglePacks }}">
                <core-icon icon="add" class="margin"></core-icon>
                Ver Paquetes
            </div>
            <div>
                <core-collapse id="collapse" class="button-success" >
                    <div horizontal layout>
                        <template repeat="{{ pack in request.shipping.packs }}" horizontal layout>
                            <div  layout center class="pack" vertical?="{{ !router.templateInstance.model.tabletScreen }}"
                                                             horizontal?="{{ router.templateInstance.model.tabletScreen }}">
                                <div>
                                    {{pack.weight}} kg
                                </div>
                                <div>
                                    {{pack.height}}x{{pack.width}}x{{pack.length}} cm
                                </div>
                            </div>
                        </template>
                    </div>
                </core-collapse>
            </div>
        </paper-shadow>

    </template>
    <script>

        Polymer({


            togglePacks: function() {
                this.$.collapse.toggle();
            },
            attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>