<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="my-shippers" attributes="shippers">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            paper-shadow{
                margin: 15px;
            }
            google-map{
                height: 200px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }


            #dialogNewTravel core-icon{
                margin: 15px;
            }
            #dialogNewTravel paper-button core-icon{
                margin: 0px 15px 0px 0px;
            }
            #dialogNewTravel paper-input, #register paper-input-decorator{
                margin: 0px 3px;
            }
            paper-toast {
                top: 74px;
                right: 10px;
                left: auto;
                bottom: auto;
            }
        </style>

        <!-- TOAST ERROR -->
        <paper-toast id="newTravelError" text="{{ newTravelResponse }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="loginError" text="Error de sesion" duration="5000" class="button-error"></paper-toast>
        <paper-toast id="newTravelSuccess" text="Viaje creado correctamente" duration="5000" class="button-success"></paper-toast>


        <core-ajax
                id="ajaxAllShippers"
                auto?="{{ session.hash != null}}"
                url="http://blabla-pack.es/api/shippers"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ shippers }}"
                on-core-response="{{ handleAllShippers }}"></core-ajax>
        <core-list data="{{ shippers }}" fit cross-fade>
            <template>
                <div horizontal layout>
                    <paper-shadow z="1" flex id="expandable{{model.id}}" >
                        <div horizontal layout justified class="margin">

                            <div vertical layout cross-fade on-click="{{ loadUrl }}" path="shipper/{{model.id}}" class="pointer">
                                <h3 style="margin: 5px 0px;">{{model.name}} {{model.surname}}</h3>
                                <div>{{model.email}}</div>
                                <div>{{model.travels.length}} viajes publicados</div>
                                <div>
                                    <span self-center>Fecha: <span class="text2-color">{{ formatDateBD(model.created,"","Creado hace ") }}</span></span>
                                </div>
                            </div>
                        </div>
                    </paper-shadow>
                </div>
        </template>

    </core-list>
        <paper-fab on-tap="{{toggleNewTravel}}"  icon="add" class="button-success" style="position:absolute; bottom: 20px;right: 20px;"></paper-fab>



    </template>
    <script>

        Polymer({



            loadUrl: function(event, detail, sender){

                this.router.go('/'+sender.getAttribute("path"));

            },
            formatDate: function(value){
                if (!value) {
                    return value;
                }
                var date= value.toString().split(" ");

                //console.log(date);
                return date[2]+" "+date[1]+" "+date[3];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                }
                return res;
            },
            formatDateBD: function(value,fin1,fin2){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = fin1;
                if(diff < 0){
                    fin=fin2;
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            handleAllShippers: function (){

                if(!this.session.hash){
                    this.$.loginError.show();
                }
            },
            updateCategory: function(event, detail, sender) {

                this.newTravel.category = detail.item.getAttribute("label");
            },
            toggleNewTravel: function(event, detail, sender) {

                this.$.dialogNewTravel.toggle();
                this.$.dialogNewTravel.addEventListener("core-overlay-open-completed",function(){
                    window.dispatchEvent(new Event('resize'));
                });
            },
            openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.open();

            },
            domReady: function(){

                this.selectedDate= new Date();
                this.newTravel= [];
                this.newTravel.origin= "Madrid";
                this.newTravel.destination= "Sevilla";
                this.selectedDateReal= new Date();
                this.router.templateInstance.model.typeContent = 1;
            }

        });
    </script>
</polymer-element>