<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="my-search" attributes="travels">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            paper-shadow{
                margin: 15px;
            }
            google-map{
                height: 200px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }

            .wrapper{
                height: 100vh;
            }
            paper-toast {
                top: 74px;
                right: 10px;
                left: auto;
                bottom: auto;
            }

        </style>

        <!-- TOAST ERROR -->
        <paper-toast id="newBidError" text="{{ bid }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="newBidSuccess" text="Se ha pujado!" duration="5000" class="button-success"></paper-toast>



        <core-ajax
                id="ajaxSearchAuctions"
                auto="false"
                url="http://blabla-pack.es/api/client/auctions/search"
                params='{"origin": "{{ origin }}","destination": "{{ destination }}","date": "{{ date }}"}'
                handleAs="json"
                method="GET"
                response="{{ auctions }}"
                on-core-response="{{ handleAllAuctions }}"></core-ajax>
        <core-ajax
                id="ajaxAllTravels"
                auto="true"
                url="http://blabla-pack.es/api/shippers/{{session.id}}/travels"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ travels }}"
                on-core-response="{{ handleAllTravels }}"></core-ajax>

        <core-animated-pages selected="{{ page }}" transitions="hero-transition cross-fade" on-core-animated-pages-transition-end="{{ complete }}" style="height: 100%">

            <section >

                <div layout horizontal center center-justified class="wrapper"   cross-fade>
                    <div vertical layout>
                        <h3>Selecciona un viaje para empezar a buscar paquetes:</h3>
                        <div horizontal layout>
                            <paper-dropdown-menu id="travlesDrop" class="margin" label="Elige viaje" on-core-select="{{ updateTravel }}" flex>
                                <paper-dropdown class="dropdown">
                                    <core-menu class="menu">
                                        <template repeat="{{travel in travels}}">
                                            <paper-item label="{{travel.id}}" origin="{{travel.origin}}" destination="{{travel.destination}}" date="{{travel.date }}" travel-id="{{ travel.id}}">{{travel.origin}} - {{travel.destination}} ({{ travel.date | formatDate }})</paper-item>
                                        </template>
                                    </core-menu>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                            <paper-button class=" primary-color text-primary-color"  on-click="{{swapPage}}" next-page="1" >
                                <core-icon icon="search" ></core-icon>
                                Buscar
                            </paper-button>
                        </div>
                    </div>

                </div>

            </section>

            <section style="height: 100%">

                <core-ajax
                        id="ajaxPostBid"
                        auto="false"
                        handleAs="json"
                        method="POST"
                        response="{{ bid }}"
                        on-core-response="{{ handlePostBid }}"></core-ajax>
                <core-list data="{{ auctions }}" fit cross-fade >
                    <template>
                        <div horizontal layout>
                            <paper-shadow z="1" flex id="expandable{{model.id}}" >
                                <div horizontal  layout  >
                                    <div vertical layout flex cross-fade center-justified>
                                        <div class="content">
                                            <div layout horizontal center>
                                                <span self-center>Origen: <span class="text2-color">{{model.origin }}</span></span>
                                            </div>
                                            <div layout horizontal center>
                                                <span self-center>Destino: <span class="text2-color">{{model.destination }}</span></span>
                                            </div>
                                            <div layout horizontal center>
                                                <span self-center>Fecha: <span class="text2-color">{{model.expired | formatDateBD }}</span></span>
                                            </div>
                                            <div layout horizontal center>
                                                <span self-center>Paquetes:</span>
                                            </div>
                                            <template  repeat="{{ pack in model.packages }}">
                                                <div layout horizontal center>
                                                    <span self-center>{{ pack.name}}: <span class="text2-color">{{ pack.weight }}Kg, {{ pack.height }}x{{ pack.width }}x{{ pack.length }}cm</span></span>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div vertical center layout hidden?="{{ model.travel == null || model.travel.shipper.id != session.id }}">
                                        <div>
                                            <paper-input disabled style="width: 60px;" type="number" label="precio" value="{{model.price}}"></paper-input>€
                                        </div>

                                        <div>
                                            {{model.numBids}} pujas
                                        </div>
                                        <div>
                                            <paper-button  class="button-warning" >En cabeza!</paper-button>

                                        </div>
                                    </div>
                                    <div vertical center layout hidden?="{{ model.travel!= null && model.travel.shipper.id == session.id  }}">
                                        <div>
                                            <paper-input style="width: 60px;" type="number" label="precio" value="{{model.price}}"></paper-input>€
                                        </div>

                                        <div>
                                            {{model.numBids}} pujas
                                        </div>
                                        <div>
                                            <paper-button  class="button-success" on-click="{{ postBid }}" auction-id="{{model.id}}" price="{{model.price}}">Pujar</paper-button>

                                        </div>
                                    </div>
                                </div>
                            </paper-shadow>
                        </div>
                    </template>
                </core-list>
            </section>
        </core-animated-pages>



    </template>
    <script>

        Polymer({



            loadUrl: function(event, detail, sender){

                this.router.go('/'+sender.getAttribute("path"));

            },
            swapPage:function(event, detail, sender){

                this.page = sender.getAttribute("next-page");
                this.$.ajaxSearchAuctions.go();
            },
            postBid: function(event, detail, sender){

                this.auctionId = sender.getAttribute("auction-id");
                this.$.ajaxPostBid.params = '{"price":'+sender.getAttribute("price")+'}';
                this.$.ajaxPostBid.url="http://blabla-pack.es/api/shippers/"+this.session.id+"/travels/"+this.travelId+"/bids/"+ this.auctionId;
                this.$.ajaxPostBid.go();
            },
            formatDate: function(value){
                if (!value) {
                    return value;
                }
                var dateTime = value.toString().split("T");
                var date = dateTime[0].split("-");
                var time = dateTime[1].split(":");

                //console.log(date);
                return date[2]+"/"+date[1]+"/"+date[0]+" "+time[0]+":"+time[1];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                    diff = -diff;
                }
                return res;
            },
            formatDateBD: function(value){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = "Termina en ";
                if(diff < 0){
                    fin="Finalizó hace ";
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            newTravelFunction: function(){
                //ajax to new travel
                this.newTravel.date = this.selectedDateReal;
                this.$.ajaxNewTravel.go();
            },
            handlePostBid: function () {

                if(!this.bid.id){
                    this.$.newBidError.show();
                }else{
                    this.$.newBidSuccess.show();
                    this.$.ajaxSearchAuctions.go();
                }
            },
            handleAllTravels: function (){

                if(!this.session.hash){
                    this.$.loginError.show();
                }
            },
            updateTravel: function(event, detail, sender) {

                this.origin = detail.item.getAttribute("origin");
                this.destination = detail.item.getAttribute("destination");
                this.date = detail.item.getAttribute("date");
                this.travelId = detail.item.getAttribute("travel-id");
            },
            openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.open();

            },
            domReady: function(){

                this.selectedDate= new Date();
                this.selectedDateReal= new Date();
                this.router.templateInstance.model.typeContent = 1;
                /*this.travels = [
                    {'id':1,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'sevilla','end':'cadiz','starts':2,'travels':2,'auctionFix':8,'auctionPend':1,'status':0},
                    {'id':2,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'salamanca','end':'Madrid','starts':4,'travels':3,'auctionFix':3,'auctionPend':0,'status':1},
                    {'id':3,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'sevilla','end':'salamanca','starts':0,'travels':5,'auctionFix':1,'auctionPend':0,'status':2},
                    {'id':4,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'cadiz','end':'salamanca','starts':0,'travels':1,'auctionFix':2,'auctionPend':0,'status':2},
                    {'id':5,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'sevilla','end':'Burgos','starts':3,'travels':1,'auctionFix':1,'auctionPend':2,'status':0},
                    {'id':6,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'salamanca','end':'Burgos','starts':1,'travels':4,'auctionFix':3,'auctionPend':3,'status':0},
                    {'id':7,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'sevilla','end':'salamanca','starts':1,'travels':3,'auctionFix':2,'auctionPend':2,'status':1},
                    {'id':8,'lo1': 40,'la1': 50,'lo2':42,'la2': 51, 'date':new Date(),'start':'cadiz','end':'Madrid','starts':5,'travels':2,'auctionFix':5,'auctionPend':14,'status':3}
                ];*/
            }

        });
    </script>
</polymer-element>