<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="my-travels" attributes="travels">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            paper-shadow{
                margin: 15px;
            }
            google-map{
                height: 200px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }


            #dialogNewTravel core-icon{
                margin: 15px;
            }
            #dialogNewTravel paper-button core-icon{
                margin: 0px 15px 0px 0px;
            }
            #dialogNewTravel paper-input, #register paper-input-decorator{
                margin: 0px 3px;
            }
            paper-toast {
                top: 74px;
                right: 10px;
                left: auto;
                bottom: auto;
            }
        </style>

        <!-- TOAST ERROR -->
        <paper-toast id="newTravelError" text="{{ newTravelResponse }}" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="loginError" text="Error de sesion" duration="5000" class="button-error"></paper-toast>
        <paper-toast id="newTravelSuccess" text="Viaje creado correctamente" duration="5000" class="button-success"></paper-toast>

        <paper-action-dialog id="dialogNewTravel" backdrop layered="false" transition="core-transition-center" >
            <core-ajax
                    id="ajaxNewTravel"
                    auto="false"
                    url="http://blabla-pack.es/api/shippers/{{session.id}}/travels"
                    params='{"origin": "{{ newTravel.origin }}","destination": "{{ newTravel.destination }}","date": "{{ newTravel.date }}","category": "{{ newShipper.category }}"}'
                    handleAs="json"
                    method="POST"
                    response="{{ newTravelResponse }}"
                    on-core-response="{{ handleNewTravel }}"></core-ajax>
            <div layout vertical class="content-dialog-int" >
                <h2 style="margin: 0px;" cross-fade>Nuevo viaje</h2>
                <h4 cross-fade>Define los puntos de origen y destino para su viaje y la fecha en la que lo realizará </h4>
                <div horizontal layout>
                    <div vertical layout center cross-fade flex one>

                        <div horizontal="" layout="" center="">
                            <core-icon icon="room" style=" color: #8BC34A; "></core-icon>
                            <paper-input  label="Origen" value="{{ newTravel.origin }}"  ></paper-input>

                        </div>

                        <div horizontal="" layout="" center="">
                            <core-icon icon="room" style=" color: #D32F2F; "></core-icon>
                            <paper-input  label="Destino" value="{{ newTravel.destination }}"  ></paper-input>

                        </div>

                        <div horizontal layout center >
                            <core-icon icon="today"></core-icon>
                            <paper-input floatingLabel label="Fecha" id="trigger" value="{{selectedDateReal | formatDate}}"
                                         on-click="{{ openDatePicker }}"
                                         disabled class="date"></paper-input>
                            <paper-date-picker-dialog id="datePicker" value="{{selectedDateReal}}" ></paper-date-picker-dialog>
                        </div>

                        <div horizontal layout center >
                            <core-ajax
                                    id="ajaxAllCategories"
                                    auto="true"
                                    url="http://blabla-pack.es/api/categories"
                                    params='{}'
                                    handleAs="json"
                                    method="GET"
                                    response="{{ categories }}"
                                    on-core-response="{{ handleAllCategories }}"></core-ajax>
                            <paper-dropdown-menu id="categoryDrop" label="Elige categoria" on-core-select="{{ updateCategory }}" flex>
                                <paper-dropdown class="dropdown">
                                    <core-menu class="menu">
                                        <template repeat="{{category in categories}}">
                                            <paper-item label="{{category.id}}">{{category.name}}</paper-item>
                                        </template>
                                    </core-menu>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                        </div>

                        <div horizontal layout center >
                            <core-tooltip label="Crea viajes automaticamente dado un periodo" position="right" class="fancy">
                                <paper-checkbox label="Viaje periodico" style="margin: 20px" checked="{{ showDays }}"></paper-checkbox>
                            </core-tooltip>
                            <paper-dropdown-menu label="Elige periodicidad" hidden?="{{ !showDays }}">
                                <paper-dropdown class="dropdown">
                                    <core-menu class="menu">
                                        <paper-item>Diariamente</paper-item>
                                        <paper-item>Semanalmente</paper-item>
                                        <paper-item>Mensual</paper-item>
                                    </core-menu>
                                </paper-dropdown>
                            </paper-dropdown-menu>
                        </div>


                    </div>
                    <google-map id="mapNew"
                                map="{{map}}"
                                latitude="40.4378271"
                                longitude="-3.6795367"
                                zoom="5"
                                zoomable="false"
                                disableDefaultUI="true"
                                flex one
                            ></google-map>
                    <google-map-directions map="{{map}}"
                                           id="directions"
                                           startAddress="{{ newTravel.origin }}"
                                           endAddress="{{ newTravel.destination }}"
                                           travelMode="DRIVING"></google-map-directions>
                </div>



            </div>
            <paper-button dismissive autofocus class="button-error" on-click="{{ }}" >CERRAR</paper-button>
            <paper-button affirmative autofocus class="button-success" on-click="{{ newTravelFunction }}" >FINALIZAR</paper-button>
        </paper-action-dialog>

        <core-ajax
                id="ajaxAllTravels"
                auto="true"
                url="http://blabla-pack.es/api/shippers/{{session.id}}/travels"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ travels }}"
                on-core-response="{{ handleAllTravels }}"></core-ajax>
        <core-list data="{{ travels }}" fit cross-fade>
            <template>
                <div horizontal layout>
                    <paper-shadow z="1" flex id="expandable{{model.id}}" >
                        <div horizontal layout justified >
                            <google-map id="map{{model.id}}"
                                        map="{{map}}"
                                        latitude="{{model.la1}}"
                                        longitude="{{model.lo1}}"
                                        zoom="10"
                                        zoomable="false"
                                        disableDefaultUI="true"
                                        flex one
                                        ></google-map>
                            <google-map-directions map="{{map}}"
                                                   id="directions"
                                                   startAddress="{{ model.origin }}"
                                                   endAddress="{{ model.destination }}"
                                                   travelMode="DRIVING"></google-map-directions>
                            <div vertical layout cross-fade flex two on-click="{{ loadUrl }}" path="travel/{{model.id}}" class="pointer">
                                <div layout horizontal center class="status{{ verifyExpired(model.date, model.status) }} header">
                                    <span self-center>Ruta: <span class="header-text">{{model.origin}} - {{model.destination}}</span></span>
                                    <span flex></span>
                                    <paper-icon-button  icon="more-vert" idTravel="{{model.id}}"></paper-icon-button>

                                </div>
                                <div class="content">
                                    <div layout horizontal center>
                                        <span self-center>Fecha: <span class="text2-color">{{model.date | formatDateBD }}</span></span>
                                    </div>
                                    <div layout horizontal center>

                                        <core-tooltip label="{{model.auctions_wins.length}} subastas ganadas en este viaje" position="bottom" class="fancy" layout horizontal center>
                                            <paper-icon-button icon="assignment-turned-in" on-click="{{  }}"></paper-icon-button>
                                            <span >{{model.auctions_wins.length}}</span></span>
                                        </core-tooltip>
                                        <core-tooltip label="{{model.bids.length}} pujas realizadas en este viaje" position="bottom" class="fancy" layout horizontal center>
                                            <paper-icon-button  icon="assignment-late" on-click="{{  }}"></paper-icon-button>
                                            <span >{{model.bids.length}}</span></span>
                                        </core-tooltip>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </paper-shadow>
                </div>
        </template>

    </core-list>
        <paper-fab on-tap="{{toggleNewTravel}}"  icon="add" class="button-success" style="position:absolute; bottom: 20px;right: 20px;"></paper-fab>



    </template>
    <script>

        Polymer({



            loadUrl: function(event, detail, sender){

                this.router.go('/'+sender.getAttribute("path"));

            },
            formatDate: function(value){
                if (!value) {
                    return value;
                }
                var date= value.toString().split(" ");

                //console.log(date);
                return date[2]+" "+date[1]+" "+date[3];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                }
                return res;
            },
            formatDateBD: function(value){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = "Termina en ";
                if(diff < 0){
                    fin="Finalizó hace ";
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            newTravelFunction: function(){
                //ajax to new travel
                this.newTravel.date = this.selectedDateReal;
                this.$.ajaxNewTravel.go();
            },
            handleNewTravel: function () {

                if(!this.newTravelResponse.id){
                    this.$.newTravelError.show();
                }else{
                    this.$.newTravelSuccess.show();
                    this.router.go('/travel/'+this.newTravelResponse.id);
                    console.log(this.newTravelResponse);
                }
                this.$.ajaxAllTravels.go();
            },
            handleAllTravels: function (){

                if(!this.session.hash){
                    this.$.loginError.show();
                }
            },
            updateCategory: function(event, detail, sender) {

                this.newTravel.category = detail.item.getAttribute("label");
            },
            toggleNewTravel: function(event, detail, sender) {

                this.$.dialogNewTravel.toggle();
                this.$.dialogNewTravel.addEventListener("core-overlay-open-completed",function(){
                    window.dispatchEvent(new Event('resize'));
                });
            },
            openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.open();

            },
            domReady: function(){

                this.selectedDate= new Date();
                this.newTravel= [];
                this.newTravel.origin= "Madrid";
                this.newTravel.destination= "Sevilla";
                this.selectedDateReal= new Date();
                this.router.templateInstance.model.typeContent = 1;
            }

        });
    </script>
</polymer-element>