<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">

<link rel="import" href="../elements/my-request.html">
<link rel="import" href="../elements/my-petition.html">
<link rel="import" href="./my-bid.html">
<link rel="import" href="./my-auction-bid.html">



<polymer-element name="my-travel" attributes="travel">
    <template>
        <link rel="stylesheet" type="text/css" href="/css/palette.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <style>

            #wrap{
                text-align: center;
                padding: 20px;
            }
            .big{
                width: 100px;
                height: 100px;
            }
            .medium{
                width: 50px;
                height: 50px;
            }
            paper-button{
                margin: 5px;
            }
            google-map{
                height: 250px;
            }
            .content{

                padding: 10px;
            }
            .header{
                color: white;
                padding: 5px;
            }
            .header-text{
                color: #f5f5f5;
            }
            .status0{
                background-color: #8BC34A;
            }
            .status1{
                background-color: #FFC107;
            }
            .status2{
                background-color: #727272;
            }
            .status3{
                background-color: #D32F2F;
            }
            .text-status0{
                color: #8BC34A;
            }
            .text-status1{
                color: #FFC107;
            }
            .text-status2{
                color: #727272;
            }
            .text-status3{
                color: #D32F2F;
            }
            paper-tab core-icon{
                margin: 6px;
            }
            paper-item core-icon{
                margin: 6px;
            }

             paper-toast {
                 top: 74px;
                 right: 10px;
                 left: auto;
                 bottom: auto;
             }

        </style>

        <!-- TOAST ERROR -->
        <paper-toast id="newBidError" text="El precio tiene que ser mas bajo" duration="5000" class="button-warning"></paper-toast>
        <paper-toast id="newBidSuccess" text="Se ha pujado!" duration="5000" class="button-success"></paper-toast>

        <core-ajax
                id="ajaxGetTravel"
                auto="true"
                url="http://blabla-pack.es/api/shippers/{{session.id}}/travels/{{idTravel}}"
                params='{}'
                handleAs="json"
                method="GET"
                response="{{ travel }}"
                on-core-response="{{ handleGetTravel }}"></core-ajax>

        <div vertical layout justified cross-fade>
            <google-map id="map{{travel.id}}"
                        map="{{map}}"
                        zoom="10"
                        zoomable="true"
                        disableDefaultUI="false"
                        flex one
                        ></google-map>
            <google-map-directions map="{{map}}"
                                   id="directions"
                                   startAddress="{{ travel.origin }}"
                                   endAddress="{{ travel.destination }}"
                                   travelMode="DRIVING"></google-map-directions>
            <div vertical layout cross-fade flex two >
                <div layout horizontal center class="status{{ verifyExpired(travel.date, travel.status) }} header">
                    <span self-center>Ruta: <span class="header-text">{{travel.origin}} - {{travel.destination}}</span></span>
                    <span flex></span>
                    <paper-icon-button  icon="cached" on-click="{{ refresh }}"></paper-icon-button>
                    <paper-icon-button  icon="more-vert" on-click="{{  }}"></paper-icon-button>

                </div>
                <paper-tabs scrollable
                            selected="{{travelItems}}" class="status{{ verifyExpired(travel.date, travel.status) }} text-primary-color">
                    <paper-tab>
                        <core-icon icon="info"></core-icon>
                        Informacion
                    </paper-tab>
                    <paper-tab>
                        <core-icon icon="assignment-turned-in"></core-icon>
                        Subastas ganadas
                    </paper-tab>
                    <paper-tab>
                        <core-icon icon="assignment-late"></core-icon>
                        Subastas seguimiento
                    </paper-tab>
                    <paper-tab >
                        <core-icon icon="star"></core-icon>
                        Valoraciones
                    </paper-tab>
                </paper-tabs>
                <div class="content">

                    <core-animated-pages selected="{{ travelItems }}" transitions="cross-fade">
                        <!--Informacion-->
                        <section>
                            <div vertical layout justified cross-fade flex>
                                <paper-item>
                                    <core-icon icon="today"></core-icon>
                                    <span class="margin-right">Fecha:</span>
                                    <span class="text2-color">{{travel.date | formatDateBD}}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="room" class="text-button-success"></core-icon>
                                    <span class="margin-right">Origen:</span>
                                    <span class="text2-color">{{ travel.origin }}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="room" class="text-button-error"></core-icon>
                                    <span class="margin-right">Destino:</span>
                                    <span class="text2-color">{{ travel.destination }}</span>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="maps:local-shipping" class="text2-dark-color"></core-icon>
                                    <span class="margin-right">Tipo de viaje:</span>
                                    <span class="text2-color">{{travel.category.name}}</span>
                                    <span flex></span>
                                    <paper-icon-button icon="arrow-drop-down"></paper-icon-button>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="assignment" class="text-status{{ verifyExpired(travel.date, travel.status) }}" ></core-icon>
                                    <span class="margin-right">Estado:</span>
                                    <span class="text2-color">{{formatStatus(travel.date, travel.status)}}</span>
                                    <span flex></span>
                                    <paper-icon-button icon="more-vert"></paper-icon-button>
                                </paper-item>
                                <paper-item>
                                    <core-icon icon="create" ></core-icon>
                                    <span class="margin-right">Fecha publicación:</span>
                                    <span class="text2-color">{{travel.created | formatDate}}</span>
                                </paper-item>
                            </div>
                        </section>
                        <!--Pujas ganadas-->
                        <section>
                            <template repeat="{{ auctionWin in travel.auctionsWins }}" cross-fade>
                                <my-auction-bid auction="{{ auctionWin }}" session="{{session}}" travel="{{travel}}" on-finish-bid-ok="{{ refreshOk }}" on-finish-bid-error="{{ refreshError }}"></my-auction-bid>
                            </template>
                        </section>
                        <!--Pujas pendientes-->
                        <section>
                            <template repeat="{{ bid in travel.bids }}">
                                <my-bid bid="{{ bid }}" session="{{session}}" travel="{{travel}}" on-finish-bid-ok="{{ refreshOk }}" on-finish-bid-error="{{ refreshError }}"></my-bid>
                            </template>
                        </section>
                        <!-- Solicitudes -->
                        <section>
                            <template repeat="{{ request in travel.auctionsRequest }}">
                                <my-petition request="{{ request }}"></my-petition>
                            </template>
                        </section>
                    </core-animated-pages>
                </div>
            </div>
        </div>
    </template>
    <script>

        Polymer({

            refresh:function(){

                this.$.ajaxGetTravel.go();
            },
            refreshOk: function(){

                this.$.newBidSuccess.show();
                this.$.ajaxGetTravel.go();
            },
            refreshError: function(){

                this.$.newBidError.show();
                this.$.ajaxGetTravel.go();
            },
            formatDateBD: function(value){
                if (!value) {
                    return value;
                }
                var now = new Date();
                var date = new Date(value);
                var diff = date.getTime() - now.getTime(); //store the getTime diff - or +
                var fin = "Termina en ";
                if(diff < 0){
                    fin="Finalizó hace ";
                    diff = -diff;
                }
                var days = Math.floor(diff / (24*60*60*1000)); //Convert values to -/+ days and return value
                var horas = Math.floor((diff / (60*60*1000)) - days*24); //Convert values to -/+ days and return value
                var minutos = Math.floor((diff / (60*1000)) - horas*60); //Convert values to -/+ days and return value

                if(days != 0){
                    fin += days+" dia";
                    if(days > 1){
                        fin +="s";
                    }
                }
                if(days != 0 && horas != 0){
                    fin +=" y ";
                }
                if(horas != 0){
                    fin +=horas+" hora";
                    if(horas > 1){
                        fin +="s";
                    }
                }
                if(days == 0){
                    //show minutes only <1days
                    if(horas != 0 && minutos != 0){
                        fin +=" y ";
                    }
                    if(minutos != 0){
                        fin +=minutos+" minuto";
                        if(minutos > 1){
                            fin +="s";
                        }
                    }
                }
                return  fin;
            },
            formatDate: function(value){
            if (!value) {
                return value;
            }
            var date= value.toString().split("T");

            //console.log(date);
            return date[0];
            },
            verifyExpired: function(date,status){
                var now = new Date();
                var date2 = new Date(date);
                var diff = date2.getTime() - now.getTime(); //store the getTime diff - or +
                var res = status;
                if(diff < 0){
                    res = 2;
                }
                return res;
            },
            formatStatus: function(date,status){

                status = this.verifyExpired(date,status);
                var statusString = "";
                switch (status){
                    case 0: statusString = "Activo"; break;
                    case 1: statusString = "Viajando"; break;
                    case 2: statusString = "Finalizado"; break;
                    case 3: statusString = "Cancelado"; break;
                }

                return statusString;

            },
            domReady: function(){

                this.travelItems = 0;
                this.router.templateInstance.model.typeContent = 1;
                window.dispatchEvent(new Event('resize'));
             },

            attached : function() {

                var animation = new CoreAnimation();
                animation.duration = 200;
                animation.keyframes = [
                    {opacity: 0, marginTop:"-71px"},
                    {opacity: 1, marginTop:"0px"}
                ];
                animation.target = this;
                animation.play();
            }

        });
    </script>
</polymer-element>