h1{
    font-weight: 100;
    font-size: 36px;
    color: #212121;
}
h2{
    font-weight: 200;
    font-size: 32px;
    color: #212121;
}
h3{
    font-weight: 300;
    font-size: 20px;
    color: #727272;
}
h4{
    font-weight: 500;
    font-size: 18px;
    color: #727272;
}
paper-shadow{
    background: white;
}

* {
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}




/* classes to use */

.padding{
    padding: 10px;
}
.margin{
    margin: 10px;
}
.margin-big{
    margin: 20px;
}
.margin-small{
    margin: 5px;
}

.margin-right{
    margin-right: 10px;
}
.margin-left{
    margin-left: 10px;
}
.float-progress{
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pointer{
    cursor: pointer;
}