.btn-floating.drop.open{
    border-radius: 0px;
}
.btn-floating.drop.open i{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;

}

/********SWITCH*************/
.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch label {
    cursor: pointer;
}
.switch label input[type=checkbox]:first-child {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label input[type=checkbox]:first-child:checked + .lever {
    background-color: #7bc5be;
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    background-color: #009587;
}
.switch label .lever,
.switch label input[type=checkbox][disabled]:first-child + .lever {
    content: "";
    display: inline-block;
    width: 45px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin-left: 5px;
}
.switch label .lever:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    left: -5px;
    top: -2px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.switch label input[type=checkbox][disabled]:first-child + .lever:after,
.switch label input[type=checkbox][disabled]:checked:first-child + .lever:after {
    background-color: #BDBDBD;
}
input[type=checkbox]:first-child:checked ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 149, 135, 0.1);
}
input[type=checkbox]:first-child ~ .lever:active:after,
input[type=checkbox][disabled]:first-child ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    left: 30px;
}
/*****************FIN SWITCH***************/

