<!doctype html>
<html>
<head>
    <title>App Router</title>
    <!-- POLYMER -->
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bower_components/webcomponentsjs/webcomponents.js') }}"></script>

    <!-- BOWER COMPONENTS -->
    <link rel="import" href="{{ asset('bower_components/app-router/app-router.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-animated-pages/core-animated-pages.html') }}   ">
    <link rel="import" href="{{ asset('bower_components/google-map/google-map.html') }}">
    <link rel="import" href="{{ asset('bower_components/google-map/google-map-directions.html') }}">
    <link rel="import" href="{{ asset('bower_components/google-map/google-map-search.html') }}">



    <!-- MY COMPONENTS -->
    <link rel="import" href="{{ asset('layouts/layout-base.html') }}">
    <link rel="import" href="{{ asset('/elements/element-search.html') }}">
    <link rel="import" href="{{ asset('/elements/element-success.html') }}">
    <link rel="import" href="{{ asset('/elements/my-profile.html') }}">
    <link rel="import" href="{{ asset('/elements/my-travels.html') }}">
    <link rel="import" href="{{ asset('/elements/my-travel.html') }}">

    <!-- EXTERNAL FILES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>

    <style>
        * {
            font-family: 'Roboto', sans-serif;
            color: #212121;
        }
    </style>

</head>
    <body unresolved fullbleed>
        <template is="auto-binding" id="general-template" attributes="phoneScreen">
            <layout-base page="0"
                         phoneScreen="{% verbatim %}{{ phoneScreen }}{% endverbatim %}"
                         tabletScreen="{% verbatim %}{{ tabletScreen }}{% endverbatim %}"
                         typeContent="{% verbatim %}{{ typeContent }}{% endverbatim %}"
                         menuItems="{% verbatim %}{{ menuItems }}{% endverbatim %}"
                         session="{% verbatim %}{{ session }}{% endverbatim %}">
                <app-router core-animated-pages transitions="cross-fade" on-before-data-binding="{% verbatim %}{{updateModel}}{% endverbatim %}">
                    <!-- matches an exact path -->
                    <app-route path="/" import="/elements/element-search.html" element="element-search" bindRouter on-toogle-register-dialog-ext-1="{% verbatim %}{{ toogleRegisterExt1 }}{% endverbatim %}" on-toogle-register-dialog-ext-2="{% verbatim %}{{ toogleRegisterExt2 }}{% endverbatim %}" on-toogle-register-dialog-ext-0="{% verbatim %}{{ toogleRegisterExt0 }}{% endverbatim %}"></app-route>
                    <app-route path="/home" import="/elements/element-search.html" element="element-search" bindRouter></app-route>

                    <app-route path="/success" import="/elements/element-success.html" element="element-success" bindRouter></app-route>

                    <app-route path="/profile" import="/elements/my-profile.html" element="my-profile" bindRouter></app-route>

                    <app-route path="/profile-client" import="/elements/my-profile-client.html" element="my-profile-client" bindRouter></app-route>

                    <app-route path="/profile-admin" import="/elements/my-profile-admin.html" element="my-profile-admin" bindRouter></app-route>

                    <app-route path="/admin" import="/elements/my-profile-admin.html" element="my-profile-admin" bindRouter></app-route>

                    <app-route path="/configuration" import="/elements/my-config.html" element="my-config" bindRouter></app-route>

                    <app-route path="/travels" import="/elements/my-travels.html" element="my-travels" bindRouter></app-route>

                    <app-route path="/clients" import="/elements/my-clients.html" element="my-clients" bindRouter></app-route>

                    <app-route path="/shippers" import="/elements/my-shippers.html" element="my-shippers" bindRouter></app-route>

                    <app-route path="/categories" import="/elements/my-categories.html" element="my-categories" bindRouter></app-route>

                    <app-route path="/search-shipping" import="/elements/my-search.html" element="my-search" bindRouter></app-route>

                    <app-route path="/auctions" import="/elements/my-auctions.html" element="my-auctions" bindRouter></app-route>

                    <app-route path="/travel/:idTravel" import="/elements/my-travel.html" element="my-travel" bindRouter></app-route>

                    <app-route path="/auction/:idAuction" import="/elements/my-auction.html" element="my-auction" bindRouter></app-route>

                    <app-route path="/results" import="{{ path('results_html') }}" element="element-results" bindRouter></app-route>

                    <!-- matches using a wildcard -->
                    <app-route path="/customer/*" import="/pages/customer-page.html"></app-route>

                    <!-- matches using a path variable -->
                    <app-route path="/order/:id" import="/pages/order-page.html"></app-route>

                    <!-- matches a pattern like '/word/number' -->
                    <app-route path="/^\/\w+\/\d+$/i" regex import="/pages/regex-page.html"></app-route>

                    <!-- matches everything else -->
                    <app-route path="*" import="/pages/not-found-page.html"></app-route>
                </app-router>
            </layout-base>
        </template>
        <script>

            var template = document.querySelector("#general-template");
            template.updateModel = function(e){
                console.log("before-data-binding");
                event.detail.model.phoneScreen = this.phoneScreen;
                event.detail.model.tabletScreen = this.tabletScreen;
                event.detail.model.typeContent = this.typeContent;
                event.detail.model.menuItems = this.menuItems;
                event.detail.model.session = this.session;
            };
            template.toogleRegisterExt0 = function(e){
                document.querySelector("layout-base").pageDialog = 0;
                document.querySelector("layout-base").shadowRoot.querySelector("#register").toggle();
            };
            template.toogleRegisterExt1 = function(e){
                document.querySelector("layout-base").pageDialog = 1;
                document.querySelector("layout-base").shadowRoot.querySelector("#register").toggle();
            };
            template.toogleRegisterExt2 = function(e){
                document.querySelector("layout-base").pageDialog = 2;
                document.querySelector("layout-base").shadowRoot.querySelector("#register").toggle();
            };
            window.addEventListener('polymer-ready', function(e) {
                window.dispatchEvent(new Event('resize'));
            });


        </script>

    </body>
</html>
