<link rel="import" href="{{ asset('bower_components/polymer/polymer.html') }}">
<link rel="import" href="{{ asset('bower_components/paper-input/paper-input.html') }}">
<link rel="import" href="{{ asset('bower_components/paper-fab/paper-fab.html') }}">
<link rel="import" href="{{ asset('bower_components/paper-checkbox/paper-checkbox.html') }}">
<link rel="import" href="{{ asset('bower_components/core-icon/core-icon.html') }}">
<link rel="import" href="{{ asset('bower_components/core-tooltip/core-tooltip.html') }}">
<link rel="import" href="{{ asset('bower_components/paper-date-picker/paper-date-picker.html') }}">
<link rel="import" href="{{ asset('bower_components/paper-date-picker/paper-date-picker-dialog.html') }}">

<link rel="import" href="{{ asset('elements/my-pack.html') }}">

<polymer-element name="element-results" attributes="start end" >
    <template>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/palette.css')}}  ">
        <style>

            h1{
                font-weight: 100;
                font-size: 36px;
                color: #212121;
            }
            h3{
                font-weight: 300;
                font-size: 20px;
                color: #727272;
            }
            h2{
                font-weight: 300;
            }
            paper-shadow{
                background: white;
            }
            #searchTravel core-icon{
                margin-right: 15px;
            }
            #searchTravel{
                background: white;
                padding: 22px 0px;
            }
            #searchTravel-packet{
                background: white;
                padding:0px;
                overflow: auto;
                overflow-x: hidden;
            }
            paper-date-icker-dialog{
                position: fixed;
                outline: none;
                z-index: 12;
            }
            core-animated-pages{
                width: 100%;
            }
            #wrapper{
                height: 500px;
            }
            google-map{
                height: 500px;
            }

            paper-input-decorator{
                color: white;
            }
            #fab-step2{
                bottom: 5px;
                position: absolute;
                right: 5px;
            }
            .wrapperSuccess{
                background: rgba(139, 195, 74, 0.84);
            }
            #paperSuccess{
                background: white;
                text-align: center;
                padding: 20px;
            }
            #paperSuccess core-icon{
                margin-right: 10px;

            }
            #headerPack{
                background: #2196F3;
                padding: 12px;
                color: white;
            }
        </style>
        <div cross-fade style="">

            <div flex id="wrapper">
                <google-map id="map"
                            map="{% verbatim %}{{map}}{% endverbatim %}"
                            latitude="40.4378271"
                            longitude="-3.6795367"
                            zoom="5"
                            zoomable="false"
                            disableDefaultUI="true"
                            fit></google-map>
                <google-map-directions map="{% verbatim %}{{map}}{% endverbatim %}"
                                       id="directions"
                                       startAddress="{% verbatim %}{{ start }}{% endverbatim %}"
                                       endAddress="{% verbatim %}{{ end }}{% endverbatim %}"
                                       travelMode="DRIVING"></google-map-directions>




                <core-animated-pages selected="{%verbatim%}{{ page }}{%endverbatim%}" transitions="hero-transition cross-fade" on-core-animated-pages-transition-end="{%verbatim%}{{ complete }}{%endverbatim%}">

                    <section>
                        <paper-shadow z="2" style="margin: 20px" cross-fade>
                            <div  layout center around-justified  id="searchTravel"
                                  horizontal?="{% verbatim %}{{ !router.templateInstance.model.tabletScreen }}{% endverbatim %}"
                                  vertical?="{% verbatim %}{{ router.templateInstance.model.tabletScreen }}{% endverbatim %}">
                                <div layout center  horizontal?="{% verbatim %}{{ !router.templateInstance.model.phoneScreen }}{% endverbatim %}"
                                                    vertical?="{% verbatim %}{{ router.templateInstance.model.phoneScreen }}{% endverbatim %}">
                                    <div horizontal layout center >
                                        <core-icon icon="room" style=" color: #8BC34A; "></core-icon>
                                        <paper-input  floatingLabel label="Origen" value="{% verbatim %}{{ start }}{% endverbatim %}"></paper-input>

                                    </div>
                                    <div horizontal layout center >
                                        <core-icon icon="room" style=" color: #D32F2F; "></core-icon>
                                        <paper-input floatingLabel label="Destino" value="{% verbatim %}{{ end }}{% endverbatim %}"></paper-input>
                                    </div>
                                </div>
                                <div layout center  horizontal?="{% verbatim %}{{ !router.templateInstance.model.phoneScreen }}{% endverbatim %}"
                                                    vertical?="{% verbatim %}{{ router.templateInstance.model.phoneScreen }}{% endverbatim %}">

                                    <div horizontal layout center >
                                        <core-icon icon="today"></core-icon>
                                        <paper-input floatingLabel label="Fecha" id="trigger" value="{% verbatim %}{{selectedDate}}{% endverbatim %}"
                                                     on-click="{% verbatim %}{{ openDatePicker }}{% endverbatim %}"
                                                     disabled class="date"></paper-input>
                                        <paper-date-picker-dialog id="datePicker" value="{% verbatim %}{{selectedDate}}{% endverbatim %}"></paper-date-picker-dialog>
                                    </div>
                                    <core-tooltip label="Añadira +/- 3 días al rango de busqueda" position="right" class="fancy">
                                        <paper-checkbox label="Fecha flexible" style="margin: 20px"></paper-checkbox>
                                    </core-tooltip>
                                </div>
                                <div horizontal layout center >
                                    <paper-button class=" primary-color text-primary-color"  hero?="{% verbatim %}{{page == 1}}{% endverbatim %}" hero-id="new-travel" on-click="{% verbatim %}{{swapPage}}{% endverbatim %}">
                                        <core-icon icon="add" ></core-icon>
                                        PAQUETE ({% verbatim %}{{ packets }}{% endverbatim %})
                                    </paper-button>
                                    <paper-button disabled?="{% verbatim %}{{ packets == 0 }}{% endverbatim %}"
                                                  class="button-success text-primary-color"
                                                  on-click="{% verbatim %}{{startSale}}{% endverbatim %}"
                                                  hero hero-id="open-sale">
                                        <core-icon icon="check" ></core-icon>
                                        SUBASTA
                                    </paper-button>
                                </div>

                            </div>
                        </paper-shadow>

                    </section>
                    <section style="width: 500px">
                        <paper-shadow z="2" style="margin: 20px"  hero?="{% verbatim %}{{ page == 1 }}{% endverbatim %}" cross-fade?="{% verbatim %}{{ page == 0 }}{% endverbatim %}" hero-id="new-travel">
                            <div id="searchTravel-packet" >
                                <div vertical layout>
                                    <div horizontal layout center id="headerPack">

                                        <div>
                                            Añade tus paquetes
                                        </div>
                                        <div flex></div>
                                        <div><paper-icon-button icon="add" on-click="{% verbatim %}{{ addPacket }}{% endverbatim %}"></paper-icon-button></div>

                                        <div>
                                            <paper-icon-button  icon="close" on-click="{% verbatim %}{{swapPage}}{% endverbatim %}"></paper-icon-button>
                                        </div>
                                    </div>

                                    <template repeat="{% verbatim %}{{ pack in packs }}{% endverbatim %}">
                                        <style>
                                            .pack paper-input{
                                                margin: 0px 10px;
                                                width: 73px;
                                            }
                                        </style>
                                        <div horizontal layout center class="pack" >
                                            <div>
                                                <paper-icon-button icon="wallet-giftcard" ></paper-icon-button>
                                            </div>
                                            <div>
                                                <paper-input type="number" floatingLabel label="Peso(kg)" value="{% verbatim %}{{pack.weight}}{% endverbatim %}"></paper-input>
                                            </div>
                                            <div>
                                                <paper-input floatingLabel label="Alto(cm)" value="{% verbatim %}{{pack.height}}{% endverbatim %}"></paper-input>
                                            </div>
                                            <div>
                                                <paper-input floatingLabel label="Ancho(cm)" value="{% verbatim %}{{pack.width}}{% endverbatim %}"></paper-input>
                                            </div>
                                            <div>
                                                <paper-input floatingLabel label="Largo(cm)" value="{% verbatim %}{{pack.length}}{% endverbatim %}"></paper-input>
                                            </div>
                                            <div>
                                                <paper-icon-button class="text-button-error" icon="delete" index="{% verbatim %}{{ pack.id }}{% endverbatim %}" on-click="{% verbatim %}{{ deletePacket }}{% endverbatim %}"></paper-icon-button>
                                            </div>
                                        </div>
                                    </template>
                                    <paper-fab id="fab-step2" on-click="{% verbatim %}{{swapPage}}{% endverbatim %}" icon="check" class="button-success" hidden?="{% verbatim %}{{ packets == 0 }}{% endverbatim %}"></paper-fab>

                                </div>
                            </div>
                        </paper-shadow>
                    </section>
                    <section >

                        <div layout horizontal center center-justified id="wrapper" class="wrapperSuccess"   cross-fade>

                            <paper-shadow z="2" hero hero-id="open-sale"
                                          id="paperSuccess">
                                <h1>Decide como enviar tu paquete</h1>
                                <div horizontal layout justified>
                                    <div>Origen: {% verbatim %}{{ start }}{% endverbatim %}</div>
                                    <div>Destino: {% verbatim %}{{ end }}{% endverbatim %}</div>
                                    <div>Fecha: {% verbatim %}{{ selectedDate }}{% endverbatim %}</div>
                                    <div>Paquetes: {% verbatim %}{{ packets }}{% endverbatim %}</div>
                                </div>
                                <h3>Para envios rapidos, consulta los viajes Urgentes publicados por nuestros transportistas<br>
                                    Si lo que quieres es ahorrar, inicia una subasta a la baja</h3>
                                <paper-button class=" primary-color text-primary-color"  >
                                <core-icon icon="filter-list" ></core-icon>
                                    CONSULTAR VIAJES
                                </paper-button>
                                <paper-button class=" button-warning text-primary-color"  >
                                <core-icon icon="wallet-giftcard" ></core-icon>
                                    COMENZAR SUBASTA
                                </paper-button>
                            </paper-shadow>
                        </div>

                    </section>
                </core-animated-pages>


            </div>


            <div style="height: 2000px" >

            </div>



        </div>
    </template>
    <script>

        Polymer({

            start : "Sevilla",
            end: "Madrid",
            selectedDate: new Date(),
            packets:0,
            packs:[],
            index:0,


            openDatePicker: function(){

                this.$.datePicker.open();
                this.$.datePicker.showYearPicker();
                this.$.datePicker.showDatePicker();

            },
            swapPage: function(){
                this.page = 1 - this.page;
            },
            addPacket: function(){
                this.index++;
                this.packets++;
                this.packs.push({id:this.index,weight:'',height:'',length:'',width:''});
            },
            deletePacket: function(event, detail, sender){

                this.packets--;
                var removeItem = sender.getAttribute("index");
                console.log(removeItem)
                this.packs = $.grep(this.packs, function(value) {
                    return value.id != removeItem;
                });
            },
            startSale: function(){

                this.page = 2;
            },

            domReady    : function() {
                console.log("created search element");
                window.dispatchEvent(new Event('resize'));
            }
        });
    </script>
</polymer-element>