{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="import" href="{{ asset('elements/my-element.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-icon-button/paper-icon-button.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-header-panel/core-header-panel.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-toolbar/core-toolbar.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-ajax/core-ajax.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-menu/core-menu.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-item/core-item.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-dropdown/paper-dropdown.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-menu-button/paper-menu-button.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-item/paper-item.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-animated-pages/core-animated-pages.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/hero-transition.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/cross-fade.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/slide-down.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/slide-up.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/tile-cascade.html') }}">
{% endblock %}

{% block content_header '' %}

{% block content %}

    <polymer-element name="music-demo">
        <template>

            <style>
                .chip-container {
                    position: absolute;
                    top: 275px;
                    right: 0;
                    left: 0;
                    text-align: center;
                }

                .chip {
                    display: inline-block;
                    position: relative;
                    border-radius: 3px;
                    margin: 4px;
                    overflow: hidden;
                    text-align: start;
                    background-color: #fff;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                }

                .chip-top {
                    width: 200px;
                    height: 200px;
                }

                .chip-bottom {
                    padding: 8px;
                    line-height: 1.5;
                }

                .chip-album-title {
                    font-weight: bold;
                }

                #details {
                    padding: 200px 10% 0;
                }

                .card {
                    height: 500px;
                    border-radius: 3px;
                    text-align: start;
                    overflow: hidden;
                    background: #fff;
                    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .card-left {
                    width: 400px;
                }

                .card-right {
                    padding: 24px;
                }

                .card-icon {
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    margin-right: 16px;
                }

                .card-album-title {
                    font-size: 2em;
                }
            </style>

            <core-animated-pages selected="{%verbatim%}{{ page }}{%endverbatim%}" transitions="hero-transition" on-core-animated-pages-transition-end="{%verbatim%}{{ complete }}{%endverbatim%}">

                <section>
                    <div class="chip-container" hero-p on-tap="{%verbatim%}{{ transition }}{%endverbatim%}">

                        <template repeat="{%verbatim%}{{items as item}}{%endverbatim%}">
                            <div class="chip" hero-id="{%verbatim%}{{item.artist}}{%endverbatim%}-{%verbatim%}{{item.album}}{%endverbatim%}" hero?="{%verbatim%}{{selectedAlbum === item }}{%endverbatim%}">
                                <div class="chip-top" style="background:{%verbatim%}{{item.color}}{%endverbatim%};" hero-id="{%verbatim%}{{item.artist}}{%endverbatim%}-{%verbatim%}{{item.album}}{%endverbatim%}-art" hero?="{%verbatim%}{{selectedAlbum === item}}{%endverbatim%}"></div>
                                <div class="chip-bottom">
                                    <div class="chip-album-title">{%verbatim%}{{item.album}}{%endverbatim%}</div>
                                    <div class="chip-artist">{%verbatim%}{{item.artist}}{%endverbatim%}</div>
                                </div>
                            </div>

                        </template>
                    </div>
                </section>

                <section id="details">

                    <div class="card" layout horizontal hero-id="{%verbatim%}{{selectedAlbum.artist}}{%endverbatim%}-{%verbatim%}{{selectedAlbum.album}}{%endverbatim%}" hero on-tap="{%verbatim%}{{transition}}{%endverbatim%}">
                        <div class="card-left" style="background:blue" hero-id="{%verbatim%}{{selectedAlbum.artist}}{%endverbatim%}-{%verbatim%}{{selectedAlbum.album}}{%endverbatim%}-art" hero></div>
                        <div class="card-right" flex>
                            <div layout horizontal center>
                                <div>
                                    <div class="card-icon" style="background:{%verbatim%}{{selectedAlbum.color}}{%endverbatim%};"></div>
                                </div>
                                <div flex>
                                    <div class="card-album-title">{%verbatim%}{{selectedAlbum.album}}{%endverbatim%}</div>
                                    <div class="card-album-artist">{%verbatim%}{{selectedAlbum.artist}}{%endverbatim%}</div>
                                </div>
                            </div>
                            <div layout vertical center>
                                <div one flex>
                                </div>
                                <div>
                                    <div class="card-content">{%verbatim%}{{selectedAlbum.content}}{%endverbatim%}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </core-animated-pages>

        </template>
        <script>

            Polymer('music-demo', {

                page: 0,

                items: [
                    { artist: 'Tycho', album: 'Fragments', color: '#f4db33', content: 'bla blkasldk slakslak lksla kslaks lkslaskla klsklask' },
                    { artist: 'Tycho', album: 'Past Prologue', color: '#972ff8', content: 'bla lkaslklaskks okoaksokas apposp pakspen la cas ade mi abuelo me sentia muchos mas ' },
                    { artist: 'Tycho', album: 'Spectre', color: '#7dd6fe', content: 'bly en tonces en s cuando surgio una cosa tan mala que nadie saiba commo i' },
                    { artist: 'Tycho', album: 'Awake', color: '#dc3c84' , content: 'blba a pasar tonces cogio un aguja y zas pum se cobniviroio encocapid'}
                ],

                selectedAlbum: null,

                transition: function(e) {
                    if (this.page === 0 && e.target.templateInstance.model.item) {
                        this.selectedAlbum = e.target.templateInstance.model.item;
                        this.page = 1;
                    } else {
                        this.page = 0;
                    }
                }
            });

        </script>
    </polymer-element>

    <div class="green"></div>

    <music-demo></music-demo>





{% endblock %}