{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="import" href="{{ asset('elements/my-element.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-icon-button/paper-icon-button.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-header-panel/core-header-panel.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-drawer-panel/core-drawer-panel.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-toolbar/core-toolbar.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-ajax/core-ajax.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-menu/core-menu.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-dialog/paper-dialog.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-item/core-item.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-dropdown/paper-dropdown.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-menu-button/paper-menu-button.html') }}">
    <link rel="import" href="{{ asset('bower_components/paper-item/paper-item.html') }}">
    <link rel="import" href="{{ asset('bower_components/core-animated-pages/core-animated-pages.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/hero-transition.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/cross-fade.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/slide-down.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/slide-up.html') }}">
    <link rel="import"  href="{{ asset('bower_components/core-animated-pages/transitions/tile-cascade.html') }}">
{% endblock %}

{% block content_header '' %}

{% block content %}

    <style>
        #hero1 {
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background-color: orange;
        }
        #hero2 {
            width: 20%;
            height: 300px;
            margin: 0 auto;
            background-color: green;
        }
        #hero3 {
            width: 70%;
            height: 300px;
            margin: 0 auto;
            background-color: red;
        }
    </style>

    <template is="auto-binding" id="template-bind">

        <core-ajax
                auto
                url="http://gdata.youtube.com/feeds/api/videos/"
                params='{"alt":"json", "q":"chrome"}'
                handleAs="json"
                on-core-response="{%verbatim%}{{handleResponse}}{%endverbatim%}"></core-ajax>

        <paper-shadow z="5">
            <paper-dialog backdrop autoCloseDisabled layered="false">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <paper-button affirmative autofocus>Tap me to close</paper-button>

            </paper-dialog>
        </paper-shadow>
        <core-drawer-panel forceNarrow na>
            <div drawer style="background: white">
                <core-menu selected="{%verbatim%}{{ page }}{%endverbatim%}" id="core_menu" class="menu" >
                    <paper-item id="paper_item2"  core-drawer-toggle>Yellow</paper-item>
                    <paper-item id="paper_item3" core-drawer-toggle>green</paper-item>
                    <paper-item id="paper_item3"  core-drawer-toggle>reg</paper-item>
                </core-menu>
            </div>
            <div main>

                <core-header-panel style="height: 100%;" mode="waterfall-tall">

                    <core-toolbar class="core-header">

                        <paper-icon-button core-drawer-toggle icon="star"  id="paper_icon_button" wrap-reverse center-justified></paper-icon-button>
                        <paper-icon-button core-overlay-toggle id="open-overlay" icon="input"  id="paper_icon_button" wrap-reverse center-justified></paper-icon-button>
                        <paper-menu-button id="paper_menu_button">
                            <paper-icon-button icon="menu" fill id="paper_icon_button" wrap-reverse center-justified ten flex></paper-icon-button>
                            <paper-dropdown id="paper_dropdown" class="dropdown core-transition">
                                <core-menu selected="{%verbatim%}{{ page }}{%endverbatim%}" id="core_menu" class="menu" >
                                    <paper-item id="paper_item2"  >Yellow</paper-item>
                                    <paper-item id="paper_item3" >green</paper-item>
                                    <paper-item id="paper_item3"  >reg</paper-item>
                                </core-menu>
                            </paper-dropdown>
                        </paper-menu-button>
                        <span>Title</span>
                        <span flex></span>
                        <paper-icon-button href="#tres" id="navicon" icon="arrow-back" role="button" tabindex="0" aria-label="arrow-back" ></paper-icon-button>
                    </core-toolbar>

                    <div id="contenido" class="content" style="height: 1000px;margin-top: 50px">

                        <core-animated-pages transitions="hero-transition " selected="{%verbatim%}{{ page }}{%endverbatim%}" >
                            <section id="page1" >
                                <paper-icon-button style="background: green" onclick="swap3();" hero-id="prueba" hero icon="menu" fill id="paper_icon_button" wrap-reverse center-justified ten flex></paper-icon-button>
                                <div id="hero1" onclick="swap3();" hero-id="prueba2" hero>1</div>
                            </section>
                            <section id="page2" >
                                <div id="hero2" onclick="swap3();" hero-id="prueba" hero >2</div>
                                <paper-icon-button style="background: orange" onclick="swap3();" hero-id="prueba2" hero icon="menu" fill id="paper_icon_button" wrap-reverse center-justified ten flex></paper-icon-button>

                            </section>

                            <section id="page3" >
                                <div id="hero3" onclick="swap2();" hero-id="prueba" hero>3</div>
                            </section>
                        </core-animated-pages>
                    </div>
                </core-header-panel>
            </div>
        </core-drawer-panel>


    </template>




    <script src="{{ asset('bower_components/page.js/page.js') }}"></script>
    <script>


        var c = document.querySelector('#template-bind');
        page("/home",home);
        page("/hola",hola);
        page("/tres",tres);

        page({hashbang: true});

        function home(){
            c.page=0;
        }

        function hola(){
            c.page=1;
        }

        function tres(){
            c.page=2;
        }


        function toggle2(){
            console.log("toogle");
            document.querySelector('core-drawer-panel').togglePanel();
        }

        function swap2(){

            console.log("swap2");

            if(c.page == 2){
                c.page = 0;
            }else{
                c.page += 1;
            }


        }
        function swap3(){

            if(c.page == 0){
                c.page = 1;
            }else{
                c.page = 0;
            }

        }




    </script>




{% endblock %}