{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="parallax-container" style="height: 465px">
        <div class="row">
            <div class="card grey lighten-3 transparent row col s10 offset-s1 m6 offset-m3">
                <div class="card-content">
                    <div class="card-title grey-text text-darken-3">ENVIE SU PAQUETE</div>
                    <form>
                        <div class="row">
                            <div class="input-field col s9">
                                <i class="prefix mdi-action-today"></i>
                                <label for="input1" >Fecha de salida</label>
                                <input id="input1" type="date" class="datepicker ">
                            </div>
                            <div class="input-field switch col s3">
                                <label class="">
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="prefix mdi-communication-location-on"></i>
                                <label for="input2" >Origen</label>
                                <input id="input2" type="text" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="prefix mdi-communication-location-on"></i>
                                <label for="input3" >Destino</label>
                                <input id="input3" type="text" class="validate">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <a class="waves-effect btn-flat green white-text right" href="#scrollspy1" >BUSCAR VIAJE</a>
                </div>
            </div>
        </div>

        <div class="parallax">
            <img src="{{ asset('img/front/parallax1.jpeg') }}">
        </div>
    </div>

    <div class="row">

        <div class="card grey lighten-3 col s12 m7 l4 scrollspy" id="scrollspy1">
            <div class="card-content">
                <div class="card-title grey-text text-darken-3">Ese titulo bueno</div>
                <p class="grey-text text-darken-1">testo sin sentido, doler input seller un da house n the miffle of de dark</p>
            </div>
            <div class="card-action">
                <a class="waves-effect btn activator right" >Ver revelacion</a>
            </div>
            <div class="card-reveal">
                <div class="card-title grey-text text-darken-3">Revelemooooso oooh<i class="mdi-navigation-close right"></i></div>
                <p>cosas para revelar y tal</p>
                <div class="card-action">
                    <a class="waves-effect waves-purple btn green darken-2 white-text " ><i class="mdi-content-add left"></i>añadir</a>
                    <a class="waves-effect btn red darken-2 white-text " ><i class="mdi-action-delete left"></i>borrar</a>
                </div>

            </div>
        </div>

        <div class="btn-floating drop waves-effect blue white-text z-depth-3 right" data-h="180" data-w="400">
            <i class="mdi-content-add "></i>
            <form class="white grey-text">
                <div class="input-field white grey-text">
                    <label for="input1" >persona triste de agua</label>
                    <input id="input1" type="email" class="validate">
                    <i class="prefix mdi-communication-chat"></i>
                </div>
            </form>
        </div>

        <div class="card grey lighten-3 col s12 m10 l4">
            <div class="card-content">
                <div class="card-title grey-text text-darken-3">Ese titulo bueno</div>
                <p class="grey-text text-darken-1">testo sin sentido, doler input seller un da house n the miffle of de dark</p>
            </div>
            <div class="card-action">
                <a class="waves-effect btn activator right" >Ver revelacion</a>
                <a class="waves-effect btn right" onclick="sizeCard($(this).parent().parent(),'s12 m10 l6')" >agrandar</a>
                <a class="waves-effect btn right" onclick="sizeCard($(this).parent().parent(),'s12 m10 l4')" >hacer xiquitito</a>
            </div>
            <div class="card-reveal">
                <div class="card-title grey-text text-darken-3">Revelemooooso oooh<i class="mdi-navigation-close right"></i></div>
                <p>cosas para revelar y tal</p>
                <div class="card-action">
                    <a class="waves-effect waves-purple btn green darken-2 white-text " ><i class="mdi-content-add left"></i>añadir</a>
                    <a class="waves-effect btn red darken-2 white-text " ><i class="mdi-action-delete left"></i>borrar</a>
                </div>

            </div>
        </div>

    </div>


{% endblock %}