<!doctype html>
<html>
<head>
    <title>App Router</title>
    <link rel="import" href="/bower_components/app-router/app-router.html">
</head>
<body>
<app-router>
    <!-- matches an exact path -->
    <app-route path="/home" import="/pages/home-page.html"></app-route>

    <!-- matches using a wildcard -->
    <app-route path="/customer/*" import="/pages/customer-page.html"></app-route>

    <!-- matches using a path variable -->
    <app-route path="/order/:id" import="/pages/order-page.html"></app-route>

    <!-- matches a pattern like '/word/number' -->
    <app-route path="/^\/\w+\/\d+$/i" regex import="/pages/regex-page.html"></app-route>

    <!-- matches everything else -->
    <app-route path="*" import="/pages/not-found-page.html"></app-route>
</app-router>
</body>
</html>